[2011-02-21 13:25] ktoso opened #1 "NPE on gitLoadData"
NPE loadGitData(GitCommitIdMojo.java:164)

[2011-02-21 13:26] ktoso opened #2 "default value for git directory"
${project.basedir}/.git

[2011-02-21 22:43] #1 closed, assigned to nobody

[2011-02-21 22:44] #2 closed, assigned to nobody

[2011-04-14 18:20] ktoso opened #5 "properties.put() bug"
I found a bug in your plugin. Attached file contains source file with bug fix.

This is reproducible when there are no global git config and system git config
on machine where you are running this plugin (in that case NullPointerException
was thrown). It would be great if you commit my fix into new version of your
plugin.

For more details see lines 269-273, there must be following code snippet:

[2011-04-14 20:47] #5 closed, assigned to ktoso

[2011-04-18 20:08] ktoso opened #6 "Check compatibility with TeamCity"
As Alexander from russia requested on my blog,
We have to check if it's working fine with TeamCity

[2011-04-18 20:10] #6 closed, assigned to ktoso

[2011-04-19 20:13] ktoso opened #7 "Make the commit's short hash available"
This is useful and replaces a shell script and properties file I had been using. It would be great to have the short version of the revision available too. Thanks!

The short version is just the first 7 chars of the commit, as returned from `git log –pretty –format=%h`
otherwise it’s already working great.

http://www.blog.project13.pl/index.php/fun/1174/release-maven-git-commit-id-plugin/#comment

[2011-04-26 23:44] #7 closed, assigned to ktoso

[2011-05-12 18:13] bagby opened #10 "Commit time bug(s)"
Sorry I can't commit code from work, otherwise I would :-(

There seem to be 2 issues.

1) Commit time should be converted from int to long before conversion to Date (lines 253-256):

[code]

Since timeSinceEpoch is something like 1305045215, multiplying by 1000 exceeds MAX_INT and makes it negative. Line 253 should be something like:

[code]

2) loadBuildTimeData() is overwriting the same propert

[2011-05-15 19:50] #10 closed, assigned to ktoso

[2011-05-15 21:57] ktoso opened #11 "Self reference makes initial install problematic"
Requested by an user via email.
Yes, the self reference may indeed cause some problems - I have removed it and installing should now work fine.
It's included in 1.5 (sight... should have naed it like 1.4.1 or something better than a 1.x release by the way...)

[2011-05-15 22:08] #11 closed, assigned to ktoso

[2011-07-04 10:49] mikaelkaron opened #12 "Maven prerequisites version range"
not entierly sure here, but looking at http://maven.apache.org/plugins/maven-enforcer-plugin/rules/versionRanges.html the range should be [2.2.1,) not [2.2.1.)

[2011-07-06 10:51] #12 closed, assigned to ktoso

[2011-07-25 16:54] mikaelkaron opened #13 "Release 1.5+"
would you mind releasing a 1.6 version to oss?

[2011-07-25 19:22] #13 closed, assigned to ktoso

[2011-07-27 22:52] ktoso opened #14 "Unknown repository format "null"? (JGit issue?)"
Issue reported via twitter, see bellow:

**@gridinoc**: @ktosopl Unknown repository format "null" git-commit-id-plugin :( http://gist.github.com/1110528 any clue?
**@ktosopl**: @gridinoc it's possible that it fails to understand "../". Try to ommit dotGitDirectory configuration, it will try to find it automagically
**@gridinoc**: @ktosopl found it automatically, same error, odd.
**@ktosopl**: @gri

[2011-07-27 23:07] #14 closed, assigned to ktoso

[2011-09-21 15:25] mgilbir opened #16 "Failure on git.properties generation when directory does not exist"
I have a parent pom that configures my build for several modules that can be nesting other artifacts.

root pom -> module pom -> several jar pom

If I set up the plugin to run on my root pom, every time it runs in a "pom" packaging artifact, I get a failed build because there is no source folder.

I would suggest that the plugin skips execution when the packaging type of the project is of type "po

[2011-09-22 20:54] #16 closed, assigned to ktoso

[2011-12-08 12:34] hannesd opened #19 ".git file refers to .git directory for submodule"
I suddenly got the following error message in maven:

[ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:1.9:revision (default) on project utils: Could not get HEAD Ref, are you sure you've set the dotGitDirectory property of this plugin to a valid path? -> [Help 1]

I didn't move the .git directory or changed the module's configuration but a look at the .git directory revealed

[2012-01-01 20:14] diogoeag opened #20 "Could not find .git directory with findbugs"
(using maven 2.2.1 on linux, with maven-git-commit-id-plugin 2.0.1)

Hi,

I'm using the findbugs plugin to analyse my code and when I run a
- mvn clean install checkstyle:checkstyle findbugs:findbugs

I get the following error:

[INFO] [checkstyle:checkstyle {execution: default-cli}]
[WARNING] Unable to locate Source XRef to link to - DISABLED
[INFO] Preparing findbugs:findbugs
[INFO] [git-commit-

[2012-01-01 22:46] #20 closed, assigned to nobody

[2012-01-05 23:59] diogoeag opened #21 "Add support to execute mojo on pom Projects"
Hi,

I've been using your plugin and in one of my projects I've needed to execute on the release steps the following command:

maven clean install assembly:single -N

And some resources that are being filtered have the git properties to be filled. As the top level project is a pom project, the mojo will not execute.

It would be good if you could add a property like:

  /**
- Specified whether the

[2012-01-07 17:33] #21 closed, assigned to ktoso

[2012-01-08 10:09] Raptor399 opened #22 "Maven 3: Plugin execution not covered by lifecycle configuration"
Hi,

Thanks for this great plugin!
I am using it with Maven 3, configured as follows:

[code]

However, Eclipse does not like it and reports an error at the `<execution>` line:

On Mac OS X it works regardless, but on Windows the error results in a build failure.

I have experimented a bit to see if other phases would work. It turns out that of the [default Maven lifecycle](http://maven.apache.org

[2012-02-07 13:22] diogoeag opened #23 "Could not find dotGitDirectory on multiple plugins"
Hi,

We have a big project that has multiple sub projects. i.e.:
- main
  - module1
    -submodule1
    - project

And the plugin configuration is set on main pom.xml.

If we try to generate a new project from a maven archetype in the submodule1, the error occours.

Do you know how can this be solved?

Also what do you think about -DgitCommit.skip property?

[2012-03-27 21:42] ctmay4 opened #24 "git.branch returning wrong information"
I am seeing different results when running under Linux and Windows.  When I run the plugin through Windows during development, I get the correct git.branch value:

[code]

However when the project is build through continuous integration (Jenkins running under Linux), the git.branch is incorrect:

[code]

My pom.xml looks like your sample:

[code]

[2012-03-28 15:54] #24 closed, assigned to ktoso

[2012-06-18 18:06] zageyiff opened #25 "failOnNoGitDirectory property"
First of all, great for the plugin, really useful.

We have one case, when "exporting" the git tree using "git archive [branch]" it won't contain the .git directory thus failing when runing the plugin.

A failOnError property with default value to true can help, cause this way if it does not find the .git directory it will still build the project.

[2012-07-06 11:26] szimano opened #28 "Would be cool to also include project.version in git.properties file"
That way the full meaningful version string could be generated (including the maven project version) and would be handled in one place.

[2012-07-07 15:01] n2taylor opened #29 "Feature request: git repo information"
Great plugin! Would be even better if I could see some of the information from `git remote -v show`, specifically the URL and remote name. That way I could see if a build was deployed from a Github fork or from the main repo.

[2012-07-07 23:24] ktoso opened #30 "General project / switches cleanup"
A bit of cleanup may be needed - the plugin was pull request driven for the last few minor updates ;-)

[2012-08-15 18:28] ktoso opened #31 "Make `git --describe` information available"
Hello Konrad,

I currently prefer the simple "git describe --dirty=-DEV --always" for obtaining a version. This way it works with releases and dev versions just the same. Is it possible to get describe-compatible functionality in your plugin?

If not, I can assemble it from the information available to me from your plugin and the META-INF file, with the exception of the dirty state. It'd be nice t

[2012-08-15 20:21] #28 closed, assigned to ktoso

[2012-08-20 22:55] ktoso opened #35 "Go back to TravisCI"
The next release is quite major for the plugin:
- lots of tests
- describe implementation
- bugixes with tests

Let's brag about it and use travis! :)

[2012-08-20 22:55] #35 closed, assigned to ktoso

[2012-08-20 22:56] #30 closed, assigned to ktoso

[2012-08-25 15:43] #31 closed, assigned to ktoso

[2012-08-26 21:15] fredcooke opened #37 "Describe should use a larger hash fragment to guarantee uniqueness if necessary"
Describe should use a larger hash fragment to guarantee uniqueness if necessary. If this isn't done, on larger repos, it's possible to have a hash fragment that refers to more than one commit, IE, one that is ambiguous.

[2012-08-26 21:39] fredcooke opened #38 "Describe --dirty behaviour differs from git command"
In the git command I must specify --dirty=-DEV whrereas your version includes the hyphen. This suits me, but may not suit everyone.

[2012-08-26 21:42] fredcooke opened #39 "Git describe command prefers the newer tag if more than one is on the same hash"
And you take the oldest or first. I much prefer the newest one because then I can do something tricky:

Let maven tag as artifact-version during release, release gets build with git describe showing release version, etc. Tag on the same hash after maven is done as the current/next snapshot version, future versions will include the snapshot tag in describe output so as not to confuse users "Yeah, I

[2012-08-26 23:04] #37 closed, assigned to ktoso

[2012-09-18 09:12] fredcooke opened #41 "Infinite loop in 2.1.0 on Mac"
Possibly something to do with my file system, and/or the interaction with some library you use, however the build just freezes. top -o cpu shows java taking a core. verbose = true gives 5 lines before the freeze, the last of which is [info]HEAD [hash]. This was working fine, and the config is unchanged, hence file system comment. Still, I'd expect a fail + mesage, not a lock up.

I understand that

[2012-09-18 09:54] #41 closed, assigned to nobody

[2012-10-16 20:36] ktoso opened #44 "-dirty should only be appended if the user wants that"
@eventuallyinconsistent discovered that we're not 1:1 with git's behavior on adding the dirty suffix. Example:

[code]

[2012-10-16 22:14] #44 closed, assigned to ktoso

[2012-10-16 22:17] #38 closed, assigned to ktoso

[2012-10-16 22:21] #23 closed, assigned to ktoso

[2012-10-16 22:24] #19 closed, assigned to ktoso

[2012-10-17 08:35] ktoso opened #45 "-dirty should be added even if on a tag"
Be on a tag commit.

Expected:

[code]

But got:

[code]

[2012-10-17 08:51] fredcooke opened #47 "Describe --dirty marks dirty when it's not."
Found in 2.1.0-2.1.2

If a file is tracked, and changed, but not committed, the repo is considered dirty.
If a file is not tracked it is simply not tracked and not part of the repo at all.

Starting with a pristine git directory with the following (dangerous) commands:

git reset --hard TAG
git clean -dfx

git describe --dirty=-DEV

should return TAG

touch afile

should still return TAG because a

[2012-10-17 21:47] #45 closed, assigned to ktoso

[2012-10-22 02:30] jdeolive opened #49 "Add a quiet mode"
This plugin is great! So great I want to avoid it having output anything because it just works :) We have a project in which there are many modules built. The git commit id log takes up much of the maven output. For example see http://hudson.opengeo.org/hudson/job/geotools-master/4575/console

So I would like to be able to set an option to prevent most or all of the output. What do you think about

[2012-10-22 12:34] #49 closed, assigned to ktoso

[2012-11-06 14:18] giovannilt opened #50 "Using git-commit-id-plugin on OpenShift"
is possible integrate pl.project13.maven with openshift deployment!?

[2012-11-06 21:20] #50 closed, assigned to ktoso

[2012-12-05 15:27] tuukkamustonen opened #52 "Invalid defaults indicated in docs"
Not correct in docs at least for version 2.1.2:
- `abbrev` is by default 0 instead of 7
- `verbose` is by default false instead of true
- `always` is by default false instead of true

[2012-12-05 15:55] tuukkamustonen opened #53 "Allow initialization once per run (with multiple modules)"
`buildnumber-maven-plugin` has http://mojo.codehaus.org/buildnumber-maven-plugin/create-mojo.html#getRevisionOnlyOnce to fetch the details only once.

With `git-commit-id-plugin` there is no such open and each module will re-fetch the details.

I tried declaring the plugin on parent POM and setting `inherited` to false, but then `${git.*}` properties don't seem to be available on child modules (ev

[2012-12-05 16:04] tuukkamustonen opened #54 "Reveal describe details (tag name, number of commits, commit id) in their own properties"
With describe returning something like 1.0.0-13-abc1234, we want each part in their separate property so we can build `finalName` with custom scheme.

Commit id is already put into separate field. Support would be needed for:

* Tag name
* Number of commits since last tag

Maybe as `git.closest.tag.name` and `git.closest.tag.commit.count` or something like that?

[2012-12-09 00:53] #22 closed, assigned to ktoso

[2012-12-21 09:54] #47 closed, assigned to ktoso

[2012-12-21 14:13] fredcooke opened #57 "NullPointerException when git repo is brand new (no commits)"
[ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.1.2:revision (default) on project abc: Execution default of goal pl.project13.maven:git-commit-id-plugin:2.1.2:revision failed. NullPointerException -> [Help 1]

This is on 2.1.2, 2.1.3 didn't make it to me yet. Maybe you don't care. Pretty obscure use-case :-) Feel free to close wont-fix if you like. Just wanted to document

[2013-01-06 02:13] fredcooke opened #58 "GIT_DIR and GIT_WORK_TREE not respected"
git dir to find the git dir (allow it to override the usual find mechanism and/or variable), and the work dir for git status/describe checking. Thanks in advance :-)

[2013-01-12 23:47] fredcooke opened #59 "Document default phase in README.md"
Please :-)

And you  may want to add a comment about achieving the bean thing by storing the source file out of the usual source tree and filtering it directly into the classes dir using the resources plugin to save the resource loading at runtime stuff, too, though that's up to you.

Default phase on the other hand is somewhat need-to-know ;-)

[2013-01-13 11:13] #59 closed, assigned to nobody

[2013-01-13 17:45] #39 closed, assigned to ktoso

[2013-01-13 20:26] #25 closed, assigned to ktoso

[2013-01-17 10:20] abnuk opened #61 "Error when some tag in local repo: "Unable to find commits until some tag: Did not find any commits until some tag""
When we have a tag in local repo the following exception is thrown:
"Unable to find commits until some tag: Did not find any commits until some tag"

[2013-01-28 15:49] alexnederlof opened #63 "The plugin fails when it can't find a revision"
The plugin fails when it can't find a revision. I think it happend because someone amended a commit. It could also be because travis doesn't fetch all revisions.

You can reproduce the problem like this:
[code]

This results in the error:
[code]

[Here's an example of a failed build](https://travis-ci.org/crawljax/crawljax/builds/4412511)

I don't mind that it doesn't work, but it shouldn't break

[2013-03-15 09:50] JesperTerkelsen opened #66 "@threadSafe annotation"
We parallels builds a lot where i work, and many plugins still get a warning like below.

If this plugin is thread safe, can you please specify it as such ?

See specification here http://maven.apache.org/developers/mojo-api-specification.html

Warning from maven below.

[code]

To reproduce: create a multi module project, and requst parallel execution by using the following command.

[code]

[2013-06-26 21:04] jaymes-bearden opened #68 "Git Commit messages with '%' can cause plugin failure"
I had a git commit message as follows:

'- Finished tests for User Account service and Network service (100% coverage)'

The plugin failed with an error about logging. See stack trace:

[code]

Looks like it should be a simple character escape on the git message?

[2013-07-03 14:58] cosm1c opened #69 "Describe does not match command line"
Running on Win7, the describe command is missing both the number of commits since tag, and the commit hash.

[code]

[2013-07-11 22:59] #68 closed, assigned to ktoso

[2013-08-15 16:24] lev-kuznetsov opened #73 "generateGitPropertiesFilename property path is always relative to the project"
Try something like

${project.build.directory}/${project.build.finalName}/WEB-INF/classes/git.properties

for generateGitPropertiesFilename, it'll create home/<...>/target/<...>/WEB-INF/classes/git.properties in your project folder.

[2013-08-15 16:26] lev-kuznetsov opened #74 "Empty [info] logs to console even with verbose turned off"
As per title, it'd be nice if that stuff wasn't there at least with verbose off. Better yet with verbose on too.

[2013-10-22 10:45] Puccet opened #77 ".properties files escape date formatters like :"
I've noticed that date formatter like "dd.MM.yyyy @ HH:mm:ss z" produce \ escaped : in the .properties file

[code]

Also some \n chars is escaped:

[code]

[2013-11-03 23:41] #74 closed, assigned to ktoso

[2013-11-16 15:13] if6was9 opened #81 "multi-module config with pluginManagement"
Somewhere between 2.1.4 and now the behavior of the plugin has changed with regard to multi-module configuration.

Specifically, if the git-commit-id-plugin is configured in a <pluginManagement> section of a parent POM, the value of <generateGitPropertiesFilename> is now expanded with respect to the parent pom.

So even though the plugin may run multiple times in multiple maven submodules, it will

[2013-11-17 18:15] #77 closed, assigned to ktoso

[2013-12-09 18:38] luontola opened #86 "<gitDescribe>'s defaults are missing"
If the configuration is missing <gitDescribe> or not all of its options are set, then those options default to null, 0 and similar. In other words, the Maven-style defaults in GitDescribeConfig do nothing. As a result it's necessary to type the full <gitDescribe> configuration for all of its options.

[2014-02-07 09:09] kumaravel-jayakumar opened #90 "git-commit-id-plugin seems to hang when called from jenkins (maybe invalid?)"
I use git-commit-id-plugin in the validate phase and it seems to run well in my local maven. After I check in my code we have a fusion job that checks out the project and runs a build in it. But the job never seems to end. The job runs a sonar plugin as the final step which in turn calls the cobertura plugin.

It simply hangs at.. (taken from logs)
[INFO] Preparing cobertura:cobertura
[INFO] [git-

[2014-02-09 01:46] dslivka opened #91 "Allow to limit git properties exposed"
The plugin discloses too many properties, which may be undesirable when e.g. generated jar package is distributed. It should be possible to prevent some properties from being inserted into git.properties file, mainly:
git.commit.message.full, git.commit.message.short
git.commit.user.email, git.build.user.email
git.commit.user.name, git.build.user.name
git.remote.origin.url  <- especially this one,

[2014-02-09 05:02] #91 closed, assigned to ktoso

[2014-02-19 08:41] ayeseeem opened #94 "missing backtick in README around git describe"
In README.md, there's missing formatting due to missing starting backtick on:

[2014-02-22 11:15] #94 closed, assigned to nobody

[2014-02-26 22:24] fhanik opened #96 "Shallow depth returns error"
git clone --depth=50 --branch=develop git://github.com/cloudfoundry/login-server.git cloudfoundry/login-server
    git checkout -qf d6c2aee39d95c1ff922b6f1a427424527876e3aa
    mvn -U install --quiet -DskipTests=true

yields the following error

    [ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.1.9:revision (default) on project cloudfoundry-login-server-common: Execution

[2014-03-04 10:11] TheSnoozer opened #97 "Extend git-plugin with --match Option for describe"
Hi,
can you extend the maven-git-commit-id-plugin with an additional option for the Match Parameter for git describe?

This should end up in something like this:
git describe --match YOURCONFIGURABELMATCHPATTERNGOESHERE

Or is there some sort of option already?
Thanks

[2014-03-05 08:57] TheSnoozer opened #98 "git.commit.id.describe maybe produce the wrong result with subbranches"
Hi :)
I think under some conditions the git.commit.id.describe might produce the wrong result.
Following condition:
On Branch subBranch the last known Tag has the creation-date 2014-02-27.
On Branch master the last known Tag has the creation-date 2014-01-31 (so this one is older).

When I type `git describe` on my master-Branch I get the following result:
2014-01-31-HelloIAmTheOldTagOnMaster

When

[2014-03-05 09:22] TheSnoozer opened #99 "git.build.time cannot be excluded with excludeProperty"
Hi,
with version issue https://github.com/ktoso/maven-git-commit-id-plugin/issues/91 or more readable version 2.1.9 of the maven-git-commit-id-plugin you introduced the ability to exclude properties.
Unfortunately I can not exclude the "git.build.time".
Example Configuration:
`<plugin>
                <groupId>pl.project13.maven</groupId>
                <artifactId>git-commit-id-plugin</artifactI

[2014-03-07 07:56] #99 closed, assigned to nobody

[2014-03-15 10:31] #69 closed, assigned to nobody

[2014-03-25 07:10] ronsmits opened #101 "prefix can not be set empty"
One would expect that

[code]

would leave out the "git." part

[2014-03-25 22:07] #101 closed, assigned to ktoso

[2014-04-02 11:23] #98 closed, assigned to nobody

[2014-04-22 21:27] pjsg opened #104 "Always says tree is dirty even when it isn't."
I'm using 2.1.7 and, for every build, the generated id include -dirty. The real "git describe" does not indicate dirty, and even running "git describe" in a loop during the build does not reveal the tree ever becoming dirty during the build.

Anybody else seen this? Any suggestions on how to track down what the difference is?

Thanks

[2014-04-23 17:55] ericeberry opened #105 "Execution of git-commit-id-plugin failed: Bare Repository has neither a working tree nor index"
I get the following exception when I try to use any version of git-commit-id-plugin after version 2.1.4.  Is there something I have configured incorrectly?

This is my configuration:
            <plugin>
                <groupId>pl.project13.maven</groupId>
                <artifactId>git-commit-id-plugin</artifactId>
                <version>${git-commit-id-plugin.version}</version>

[2014-05-02 22:14] roytmana opened #106 "Add means to ensure project.version when not SNAPSHOT matches git tag on current commit"
When making a release build, it would be nice to ensure that pom version exactly matches tag  and terminate the build if it does not. If maven version is NOT a SNAPSHOT, we should ensure current commit has a label attached that exactly matches pom version. This way we can ensure the versions are in sync and we can safely use pom version.

We may want to check if SNAPSHOT version is greater first r

[2014-05-04 23:04] orlade opened #107 "Forces Eclipse to build once per second"
I can't figure out if this is as designed or not, but with the plugin listed in pom.xml, Eclipse invokes "Maven Project Builder" once every second, seemingly only to update the timestamp in the git.properties file. I tried adding a `phase` tag to the plugin, but it didn't help. Here's what I'm using:

      <plugin>
        <groupId>pl.project13.maven</groupId>
        <artifactId>git-commit-id-pl

[2014-05-05 09:08] tnaroska opened #108 "injectAllReactorProjects overwrites non-git properties in reactor projects"
The option injectAllReactorProjects should set the git-commit-id related properties in all reactor projects. Right now the code does not only propagate the git properties, but *all* properties set in the current project (i.e. in the pom.xml's <properties> element).
This can overwrite properties completely unrelated to git in other projects leading to unexpected behavior.

[2014-05-08 17:05] caseydawsonjordan opened #110 "Sometimes git commit plugin is very slow (~8min to run on brand new MacBook Pro)"
I notice that sometimes the plugin takes very long to execute, it usually sits at this step:

[info]
[info]
[info]
[info] git.build.user.name xxx
[info] git.build.user.email xxxx
[info] git.branch xxxx
[info] --always = false
[info] --dirty = -dirty
[info] --abbrev = 7
[info] --long = %s false
[info] --match =
[info] Tag refs [ [] ]
[info] Created map: [ {} ]
[info] HEAD is [ 41167aex33c22ee356692

[2014-05-14 02:32] louisburton opened #112 "Readme out of date"
Didn't seem to match up as I saw it.
I had to specify values in the gitDescribeConfig as the defaults didn't come through. I am using maven 3.1.1.
One property is reported as 'long' but actually is 'forceLongFormat'.

[2014-05-14 02:40] louisburton opened #113 "Enh: Find dotGitDirectory using rev-parse --show-toplevel"
I can see code that attempts to find the dotGitDirectory. It seems to look up the parent structure for the .git directory. However, many projects don't have the parent in the same project or the parent is not the same pom as the aggregator/reactor. When you have a nested maven module structure it is hard to determine where the .git directory is, when these sub modules are not git submodules (remot

[2014-05-17 20:44] #110 closed, assigned to nobody

[2014-05-17 20:49] ktoso opened #115 "Time tests fail due to timezones on Travis"
[code]

I'm on it.

[2014-05-24 20:28] TheSnoozer opened #116 "abbrevLength VS gitDescribe abbrev"
Hi ktoso,
today I have observed that you more or less have two switches for the abbreviation for the "git.commit.id.abbrev".

An Example for better understanding:
Example 1:

[code]

will generate the following properties:

[code]

As you may observe the length of the "git.commit.id.abbrev"-Property is 7, and the commit-abbrev in the git.commit.id.describe is as configured 14.

Example 2:

[code]

[2014-05-24 21:22] #116 closed, assigned to nobody

[2014-05-24 22:13] #115 closed, assigned to ktoso

[2014-06-01 22:28] ktoso opened #119 "Add `useNativeGit` to README.md"
This PR did all except adding the readme :-) https://github.com/ktoso/maven-git-commit-id-plugin/pull/118

[2014-06-01 23:44] #119 closed, assigned to nobody

[2014-06-07 21:59] derrickburns opened #122 "naming conflicts"
The default property names that the plugin creates cannot be placed into a JSON structure. For example, these two values cannot be put into a JSON object commit.id

commit.id:2eed44f166489b2f03169a2e2d7f910430ecf7a9
commit.id.abbrev:2eed44f

Instead, the first value should be named as a field in the "commit.id" object. Foe example:

commit.id.full:2eed44f166489b2f03169a2e2d7f910430ecf7a9
commit.id

[2014-06-23 23:07] keheliya opened #124 "Extra directories created when default <generateGitPropertiesFilename> is used"
In my plugin configuration I'm not specifically setting the `<generateGitPropertiesFilename>` property. But looks like it creates an extra directory structure for writing the GitPropertiesFile. For example if my project directory is: `/home/foo/dev/projectABC`, the files are written in following locations for the submodules:
`/home/foo/dev/projectABC/module1/home/foo/dev/projectABC/module1/target/

[2014-07-20 21:58] #124 closed, assigned to nobody

[2014-08-03 16:27] rajarshi opened #127 "Use commit id extracted by plugin in replace operation during Maven packaging"
Hi, not really an issue, but I wasn't sure if this was possible.

Is it possible to have the plugin run, extract the Git commit id (amongst the other stuff it already extracts) and then use the commit id to replace some text in a subset of files, during the packaging phase of a build?

That is, it wouldn't be used to generate a properties file for use during runtime - instead it'd be used to updat

[2014-08-29 20:59] #104 closed, assigned to nobody

[2014-09-22 08:29] frankbregulla1111 opened #130 "Platform encoding is used for generated git.json/git.properties"
Currently the plugin generates the git.json/git.properties file with the platform encoding of the build.
This can lead to problems when the file is later read at runtime in a different environment with a different encoding.

I would like to be able to specify the encoding with which this file is generated, so that the build is not platform dependent.

[2014-09-23 15:03] #130 closed, assigned to nobody

[2014-09-26 21:34] iPolish opened #132 "Unable to run plugin"
Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.1.10:revision (default) on project PGM: .git directory could not be found! Please specify a valid [dotGitDirectory] in your pom.xml -> [Help 1]

To see the full stack trace of the errors, re-run Maven with the -e switch.
Re-run Maven using the -X switch to enable full debug logging.

For more information about the errors and possible

[2014-10-09 06:21] asm0dey opened #133 "Feature request: add ability to get tag(s) for current commit"
We need to output tag name for current commit if it exists.
In git we can do this with `git tag -l --contains HEAD`

Is it possible to implement in your maven plugin?

[2014-10-21 20:59] #133 closed, assigned to ktoso

[2014-10-22 07:35] Martin-Luft opened #134 "git describe default abbrev 7 is not set by default"
The git describe default abbrev 7 is not set by default.
Please set defaults by default.

[2014-10-31 14:57] markokocic opened #136 "Enable per module versions"
In multi module maven project that is stored in one Git repo it would be helpful to be able to get version number / build number based of the last git commit in the module itself, and not based on the last git commit of the whole git project.

That could even be a configuration option.

[2014-11-21 22:41] andrecr12 opened #137 "Option to accept multiple git directories"
Hi,

Firstly, I'd to congratulate you all for this great plugin. This is very useful!

Second, I'd like to ask if already exists or suggest an option to configure the plugin to read multiple Git folder information.
For instance in my current case, I have a git repo that tracks the J2EE content and another git repo that tracks just the front-end code (HTML, CSS, Js, etc):

[code]

And, it'd be grea

[2014-11-23 16:06] taorg opened #138 "git.branch character replacer"
If you work with git-flow, branches get names like this "feature/feature_name"
It would be nice to create jar o ear names with finalNames like this <finalName>${epack}-${git.commit.id.describe}-${git.commit.time}-${git.branch}</finalName>

But the caracter "/" is not valid as filename, it would be nice to have the possibility to replace this character.

[2014-11-25 17:37] wouter-crowdpark opened #139 "Using GIT properties to generate other properties"
I'm unable to use the GIT properties like ${git.commit.id.abbrev} to create other properties like this:

[code]

IntelliJ also fails to recognize the GIT properties.

Am i missing something here or is this just not possible ?

[2014-12-08 00:28] ktoso opened #144 "increase performance of dirty checking with native git"
It was very slow when loads of changes were made in the repo - it would read in all the changes, and then check it's "not empty".

[2014-12-08 00:29] #144 closed, assigned to ktoso

[2014-12-08 00:33] ktoso opened #145 "Improved native git error reporting"

[2014-12-08 00:33] #145 closed, assigned to ktoso

[2014-12-08 00:34] #134 closed, assigned to ktoso

[2014-12-08 00:49] #97 closed, assigned to nobody

[2014-12-08 00:50] #86 closed, assigned to ktoso

[2014-12-08 00:54] #112 closed, assigned to ktoso

[2014-12-08 01:00] ktoso opened #146 "FAILED: runGitDescribeWithMatchOption, has trouble on Travis"
This test `runGitDescribeWithMatchOption` has trouble on travis, see: https://travis-ci.org/ktoso/maven-git-commit-id-plugin/builds/43299247

[code]

[2014-12-08 01:10] #52 closed, assigned to ktoso

[2014-12-12 00:16] #146 closed, assigned to ktoso

[2014-12-13 18:06] #132 closed, assigned to nobody

[2014-12-13 18:50] ktoso opened #148 "Release 2.1.12"

[2014-12-13 18:51] #148 closed, assigned to nobody

[2014-12-15 09:00] Martin-Wegner opened #149 "git describe default -dirty is not set by default"
And again... The git describe default for a dirty version (-dirty) is not set by default.

[2015-01-04 04:57] derrickburns commented on #122
The[ open source config library from typesafe] (https://github.com/typesafehub/config) will break without this bug fix.

[2015-01-05 21:01] apogrebnyak opened #151 "Endless build loop in Eclipse"
It happens always in my real project, but I was able to reproduce it with this sample setup.

Add a Maven project with this sample pom:

[code]
The project builds and stops.

Now, go to 'Navigator' view in Eclipse, and refresh `target/classed` directory.

The build goes into an endless loop.

If you open generated `git.properties` file, you will see that the build timestamp is constantly updating.

[2015-01-06 00:05] TheSnoozer commented on #151
Not sure if this is really an issue with the git-commit-id-plugin itself.
It really sounds like more as an issue how eclipse and maven works together...

At least quick googleing told me this similar issue with a total different setup. This directly links to the solution: http://stackoverflow.com/a/17235587
Maybe you can try that....I'm using eclipse STS and haven't experienced any problems like t

[2015-01-06 16:05] apogrebnyak commented on #151
I think the issue may be that it should compare the contents of the existing properties file to the state of the project before writing it.  Do you want me to take a crack on this and submit a pull request?

-Alex

[2015-01-06 16:07] ktoso commented on #151
That'd be really awesome if you could give it a shot. Are you also able to
reproduce this to see if we actually fix the problem?

--
Konrad
(sent from mobile)
On 6 Jan 2015 17:05, "apogrebnyak" <notifications@github.com> wrote:

[2015-01-06 16:10] apogrebnyak commented on #151
@ktoso. Will do now.  Did you try the steps in the example to reproduce on your system?  On mine, I most definitely see the problem.

[2015-01-06 23:30] apogrebnyak opened #153 "NPE when running plugin built under Maven 3.0.5/Java 7"
Looks like the `project` and `reactorProjects` initialized properly in my build environment.

In `GitCommandIdMojo.java` they are defined as follows:
[code]

Adding `default-value` for both fixes the NullPointerException:

[code]

[2015-01-07 00:11] TheSnoozer commented on #153
Mhh with the "offical maven 3.0.5" I don't have a problem....
[code]

When I compile the git-commit-id-plugin with my latest offical maven release (version  3.2.3) I get the following warning though
[code]
might be worth investigating both....

[2015-01-07 15:31] apogrebnyak commented on #153
The idea about `default-value` came from here -> http://docs.codehaus.org/display/MAVENUSER/Mojo+Developer+Cookbook

And here is my environment:
[code]

I'd say, if it works in your build environment don't fix it yet, but be on a lookout for this issue eventually.

-Alex

[2015-01-22 09:14] wiecia opened #154 "Skip certain commits while pulling commit info"
Hi, great work :-)
Currently I'm using the plugin to generate application changelog based on user's commits and its messages. This is the used after deploy to show nicely formatted changelog to (specific) users.

It would be nice if the plugin could be configured to skip certain commits that are not really usefull as changelog info. Specifically this is useful when using maven release plugin. I do

[2015-01-26 11:40] wiecia commented on #154
Not relevant :-) using git log and a bit of bash fu i can easly get what I want
Sorry for trouble

[2015-01-26 11:40] #154 closed

[2015-02-09 04:07] hgschmie opened #156 "native provider chokes on always=false with a repo without tags"
With the following configuration:

[code]

the plugin crashes on a repo without tags:

[code]

when running git describe. The jgit provider behaves silently as if --always was given:

[code]

When setting always to true in the configuration, the native provider behaves correctly.

Either the always setting is useless (then it should be removed) or both providers should behave the same (exit with a

[2015-03-09 08:50] kwin commented on #108
This is a problem e.g. with the maven-scr-plugin and the maven-bundle-plugin, because they communicate via properties. If those properties are propagated across module boundaries this leads to all kind of errors.

[2015-03-09 19:52] #108 closed

[2015-03-10 04:15] ktoso commented on #156
Would you mind checking with 2.1.13? We've added updates to the native handler.
By the way - only use it if you really need to use it (for build perf) - are you sure you can't use the jgit version?

[2015-03-10 04:32] ktoso commented on #156
I believe this to be fixed by https://github.com/ktoso/maven-git-commit-id-plugin/pull/155 ?

[2015-03-10 04:32] #156 closed

[2015-03-10 04:36] ktoso commented on #151
Resolved by https://github.com/ktoso/maven-git-commit-id-plugin/pull/152

Thanks a lot for the contribution!

Resolved in 2.1.13

[2015-03-10 04:38] ktoso opened #158 "Additional maintainer"
Hi guys,
Since I'm not using maven too much recently (the last uhm... 4 years).
I'd like to ask @TheSnoozer for becoming an additional maintainer on this repository, what would you say about that? :-)

Let's keep this project healthy! :-)

[2015-03-10 04:42] #151 closed

[2015-03-10 15:29] TheSnoozer commented on #158
Hi @ktoso,
this is a great honor for me!
I really appreciate this opportunity I would like to join if nobody has any problems with that.

Anybody comments, questions or concerns? :-)

[2015-03-10 15:39] dtrucken commented on #158
Thanks for doing this!!!

On Tue, Mar 10, 2015 at 10:29 AM, TheSnoozer <notifications@github.com>
wrote:

[2015-03-16 17:29] ouaibsky opened #159 "Generated git propertes are no more usable by other plugins"
Hi,

Something that worked in version .11 and no more in .12 & .13

 * Use git-commit-id-plugin to generate properties (into a file but also inside the maven build itself)
 * reuse properties (git.commit.id.abbrev, git.commit.id.describe, ...) into following plugins (for examples version:set)

[code]

Any help is welcome
Christophe

[2015-03-16 17:31] ktoso commented on #159
Thanks for reporting!

Here's the changelogs:
* https://github.com/ktoso/maven-git-commit-id-plugin/issues?q=milestone%3A2.1.12
* https://github.com/ktoso/maven-git-commit-id-plugin/issues?q=milestone%3A2.1.13

I think this may be the change causing you trouble: https://github.com/ktoso/maven-git-commit-id-plugin/pull/157/files#diff-810808e60b47f97be1408150e040658cR105

You can bring it back by

[

[2015-03-16 17:47] ouaibsky commented on #159
Yeah !
Yes it solves my pb
Thx you
Christophe

[2015-03-16 17:56] ktoso commented on #159
Awesome, we'll add it to the readme I guess.
Happy hakking

[2015-03-16 21:37] mkordas opened #160 "Invalid current release in README.md"
Main page says:

while current version is 2.1.13. Is it intended?

[2015-03-17 15:58] ktoso commented on #160
Nope, it's a mistake

--
Cheers,
Konrad 'ktoso’ Malawski
Akka <http://akka.io> @ Typesafe <http://typesafe.com>
java.pl / geecon.org / krakowscala.pl / lambrakrk.pl / gdgkrakow.pl

2015-03-16 14:37 GMT-07:00 Michał Kordas <notifications@github.com>:

[2015-03-17 16:00] #160 closed

[2015-03-18 09:29] bargainloaf opened #166 "runOnlyOnce problem in aggregator build"
Hey guys,

Great work on the plugin first off. I'm running into the following problem and hoping someone could assist. We have a aggregator pom file that builds several modules. The first of these modules is the parent project which is inherited by every other module.

The problem I have is the following. If the check for runOnlyOnce is true then within the code it checks if the current absolutePa

[2015-03-18 21:43] mkordas commented on #160
Thanks for fixing :)

[2015-03-18 21:44] ktoso commented on #160
no prob, happy hakking

[2015-03-19 07:27] bargainloaf commented on #166
I thought i'll give some feedback on how I managed to get this plugin to work for our circumstance. As I mentioned before my multi-module build config and parent config was sitting in different pom.xml files.

The multi-module build file was sitting in the root and we had a separate sub-module project containing the parent pom all other sub modules will inherit from. What I did is to move the mult

[2015-03-22 18:44] Omertron commented on #159
Thanks, this solved my issue too (using the git.* properties with an ant plugin)

[2015-03-23 17:33] dan-leavitt opened #170 "slf4j version conflicts"
Building with this plugin causes dependency conflicts that prevent my app from running in tomcat.  Could this project be updated to use more recent slf4j versions or is there something I can do to control this?

[code]

The 1.7.7 version comes from here:

[code]

[2015-03-24 10:00] ktoso commented on #170
Thanks for the info. In general these things should be able to be controlled using `<dependencyManagement>` sections where you override which version should be picked.

Here's a good link on the topic http://stackoverflow.com/questions/3937195/maven-how-to-override-the-dependency-added-by-a-library

[2015-03-24 14:15] dan-leavitt commented on #170
On 3/24/15 6:00 AM, Konrad Malawski wrote:

Thanks for the quick response.  Using that advise I think I have worked
around this by specifying a newer maven-core package before the
git-commit-id-plugin.   That's not the newest though, as it gave me
other issues elsewhere with the annotation processing.

     <dependency>
       <groupId>org.apache.maven</groupId>
       <artifactId>maven-core</arti

[2015-03-31 03:48] roytmana opened #176 "release 2.1.13 does not expose git.* properties to the pom"
neither in filtered resources or other places git.* properties are resolved. had to revert to build 2.1.12

[2015-04-01 07:38] TheSnoozer commented on #176
Hi,
the version 2.1.13 works fine on my side.
Can you post your current configuration?

Thanks,

[2015-04-01 14:33] roytmana commented on #176
I am running Maven 3.2.5
[code]

[2015-04-05 14:33] TheSnoozer commented on #176
I can reproduce the behavior and I think is intential.
If you add the option to the config it should work fine:

'''
<configuration>
  ...
  <injectAllReactorProjects>true</injectAllReactorProjects>
  ...
</configuration>
'''

[2015-04-05 14:35] TheSnoozer opened #177 "Configuration option injectAllReactorProjects is not documented"
The configuration option
[code]
is not included in the current documentation.

[2015-04-05 14:47] TheSnoozer commented on #170
You can also just exclude the conflicting packages:

[code]

Furthermore you can set a so called scope for a dependeny. This tells maven where you need a module (e.g. only for testing, compile, or fur runtime)
example:
[code]
this can also resolve some issues especially for runtime :)

[2015-04-05 19:26] ktoso commented on #158
Adding you to the repo!

[2015-04-05 19:26] #158 closed

[2015-04-05 20:29] ktoso commented on #158
And to the readme now as well :-)
Please feel free to reword the section if you'd like to change something in it @TheSnoozer

https://github.com/ktoso/maven-git-commit-id-plugin/commit/cf57bd1bcaa24261392f195ec1295f210b918421

[2015-04-06 21:28] TheSnoozer commented on #158
Hi konrad :)
Thank you for your trust.

The wording is fine. nothing to add there :)

[2015-04-06 21:34] TheSnoozer commented on #149
The problem should be resolved and was included in 2.1.13

[2015-04-06 21:34] #149 closed

[2015-04-07 18:36] TheSnoozer commented on #170
Hi,
I would like to close the issue due to the fact that there is some sort of maven solution available.
This happens everyday and is a normal dependency conflict.

However, if there are some questions unanswered feel free to reopen the ticket and ask.

Thanks,

[2015-04-07 18:36] #170 closed

[2015-04-07 18:54] TheSnoozer commented on #29
Hi,
this property was introduced with https://github.com/ktoso/maven-git-commit-id-plugin/commit/9fd14be7786579351e84d5e6e9cabc7bb2614077 and should be included in v2.1.5

The resulting property looks like this:
[code]

For everybody who does not like to expose such sensitive data, the property can also be excluded
[code]

[2015-04-07 18:54] #29 closed

[2015-04-07 18:57] TheSnoozer commented on #53
Hi,
https://github.com/ktoso/maven-git-commit-id-plugin/pull/143 was merged and is included in v2.1.12.
Thanks for the contribution.

[2015-04-07 18:57] #53 closed

[2015-04-07 21:36] TheSnoozer commented on #73
This problem should be fixed and merged by now.

See: https://github.com/ktoso/maven-git-commit-id-plugin/pull/125

Thanks for reporting and helpful answers!

Feel free to reopen the issue

[2015-04-07 21:36] #73 closed

[2015-04-07 21:38] TheSnoozer commented on #139
Hi @wouter-crowdpark ,
do you have any updates, questions, comments or concerns on this?

otherwise I would like to close the issue.

Thanks,

[2015-04-07 21:39] TheSnoozer commented on #127
Hi @rajarshi,
do you have any updates, questions, comments or concerns on this?

otherwise I would like to close the issue.

Thanks,

[2015-04-07 21:44] TheSnoozer commented on #176
Hi @roytmana,
I just wanted to check if the suggested configuration option fixed your problem.

Thanks,

[2015-04-07 23:00] roytmana commented on #176
yes it does thank you but I am wondering if it should not be default as the props do not get exposed even with a simple single module project breaking plugin's backward compatibility

[2015-04-08 05:13] #139 closed

[2015-04-08 07:07] TheSnoozer commented on #176
Well the problem get's complicated when you have a multi-pom project with different git-projects.

The issue is related to:
https://github.com/ktoso/maven-git-commit-id-plugin/issues/177
https://github.com/ktoso/maven-git-commit-id-plugin/issues/159
https://github.com/ktoso/maven-git-commit-id-plugin/issues/108
and was fixed with
https://github.com/ktoso/maven-git-commit-id-plugin/pull/157

I some

[2015-04-08 14:30] TheSnoozer commented on #153
Hi,
the possible NPE is now fixed with merge #180
Thanks for reporting and the suggestion of a solution.

[2015-04-08 14:30] #153 closed

[2015-04-08 14:57] #127 closed

[2015-04-08 15:37] TheSnoozer commented on #57
Well the NPE is still present with the latest jgit-version.

However the latest version of the plugin has two options to bypass any kind of exception:
[code]

I also reported the NPE to the jgit project:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=464177

Not sure if they will fix it. Nevertheless as far as I understand this issue, the problem back in the days was that there had been no way to b

[2015-04-08 15:54] TheSnoozer commented on #96
Hopefully was fixed with https://github.com/ktoso/maven-git-commit-id-plugin/pull/179.
At least I can not repduce the issue (I had the same back in the days, so I know how to reproduce).

Thanks for reporting & thanks for the support to actually track the problem down.

[2015-04-08 15:54] #96 closed

[2015-04-08 15:59] TheSnoozer commented on #63
The latest version of the plugin has two options to bypass any kind of exception:
[code]

failOnUnableToExtractRepoInfo was introduced with this issue
failOnNoGitDirectory was introduced with #26

Thanks for reporting and the support to track the problem down.

[2015-04-08 15:59] #63 closed

[2015-04-08 16:07] TheSnoozer opened #181 "Maybe introduce a demo-profile inside the pom"
I just was thinking if maybe introducing a demo-profile inside the pom is somehow a good idea.
Currently there is an example of the plugin config included, however it's a huge block of comments and currently is barely usable.

Maybe just migrate that to a profile:
[code]

Demo-run would be possible with:
[code]

Also add a comment that the plugin could also be included at it's current position.

[2015-04-08 19:58] fredcooke commented on #57
Comments and thoughts:

1) The issue being present and open gives visibility to someone experiencing the issue. It could still be found if closed, however when I check for issues in a piece of software on github, I only check open ones before creating a new one.

2) Perhaps failOnUnableToExtractRepoInfo should close this? /me checks docs... No, not really, as it would allow other failures that I d

[2015-04-08 21:07] TheSnoozer commented on #57
Hi @fredcooke,
totally agree with you and only open issues gives visibility and somehow tells that there is still some work to do.
I was somehow in the motivation to close old issues and didn't thought about that maybe setting the failOnUnableToExtractRepoInfo-switch will also allow other errors to fly stealthy under the radar.
I will keep the issue open due to the fact that this is either a bug b

[2015-04-08 22:23] TheSnoozer commented on #107
Hi,
the issue https://github.com/ktoso/maven-git-commit-id-plugin/issues/151 seems to be related to this problem.
The issue #151 was resolved with the PR #152

The fix should be included in version 2.1.13.
Can someone do me the favour and check if the problem is still present (I currently can not reproduce it)?

Thanks,

[2015-04-09 23:34] TheSnoozer commented on #57
Hi @fredcooke,
I added some code which will print out some nice error message when running the plugin with jgit.

However, when running the plugin with the native-git implementation I'll get the following error with a brand new repro:
fatal: No names found, cannot describe anything.

This error will be produced when executing "git describe". Unfortunately this command can fail with the same messag

[2015-04-10 10:06] TheSnoozer opened #183 "New property that indicates whether the current commit is also in remote repro"
Hi,
I would like to have an additional property that indicates whether the current commit is also in remote repro (aka. pushed to origin).

With the native git it should be manageable to extract such information. However, i'm not sure if it's possible with the jgit-implementation.

The backgrund behind this issue is:
I currently use the maven-scm-plugin to create a tag of the version which had bee

[2015-04-10 10:43] TheSnoozer opened #185 "Instead of determine all properties and then exclude properties why not choose selective running (native git)"
Hi,
currently the plugin has the option to exclude some properties or not. This is really usefull and I use this on a daily basis (yeah customers don't want to have some properties in some sensitive files).
However, for the native git the plugin currently determines all properties with calls to the git executable.
Each call coast a few milli seconds build time. So what the native git implementatio

[2015-04-12 07:01] TheSnoozer commented on #181
fixed with #184.

[2015-04-12 07:01] #181 closed

[2015-04-13 04:48] TheSnoozer commented on #177
fixed with PR https://github.com/ktoso/maven-git-commit-id-plugin/pull/187

[2015-04-13 04:48] #177 closed

[2015-04-13 13:59] TheSnoozer commented on #159
Hi,
the ``<injectAllReactorProjects>true</injectAllReactorProjects>``-Property was added to the README (PR #187).

Thanks for reporting this issue.

[2015-04-13 13:59] #159 closed

[2015-04-13 14:01] TheSnoozer commented on #176
Hi,
the ``<injectAllReactorProjects>``-Property was added to the README  (PR #187).
I also outline why we need to set it to false and therefore somehow break backwards compatibility.

If you feel that your issue is not yet resolved, please reopen the issue and share your concerns.

Thanks for reporting.

[2015-04-13 14:01] #176 closed

[2015-04-13 15:09] ktoso opened #188 "Provide SimpleSender UDP Sink"
wat, wrong repo.,

[2015-04-13 15:10] #188 closed

[2015-04-13 17:10] TheSnoozer commented on #188
that was fixed quickly :D

[2015-04-13 23:15] ktoso commented on #188
Was actually an akka ticket I pasted in a wrong tab ;-)

[2015-04-17 14:01] Omertron opened #190 "Resources not generated when no source code in a project"
I have a multi project repo with 5 sub-projects. ( https://github.com/YAMJ/yamj-v3 )
For each of the sub-projects with code (common/core/filescanner/jetty) the src/main/resources/version.txt file is correctly filtered and placed in the target/classes directory.

For the "distribution" project (with no classes), the file is not filtered at all.

[2015-04-19 21:25] TheSnoozer commented on #190
Hi @Omertron,
Thanks for reporting this issue.
I just finished my research on this one and discovered two different kind of problems.

1) With your current configuration the git-commit-id-plugin will not be executed for the yamj3-distribution. To bypass this problem I added the configuration-Option ``<skipPoms>false</skipPoms>`` to the git-commit-id-plugin parent-pom's configuration. According to

[2015-04-20 05:33] TheSnoozer commented on #90
Hi @kumaravel-jayakumar,
it's been a while since this issue is on the market.
Do you have any further input?

[2015-04-20 05:43] TheSnoozer commented on #66
Hi,
first of all thanks for reporting this issue.
It's been a while since this is on the market and I just wanted to check if someone could reproduce it.
I was tring to reproduce with different -T options but was not able to get a stracktrace or any kind of other error. Furthermore I checked out the code where this stack trace occurred and it seems that we tried to access the maven project propert

[2015-04-20 07:35] Omertron commented on #190
Hi @TheSnoozer, thank you so much for taking the time to look into the issue.

I did spot the "skipPoms" setting but I read the default as "false" and therefore had discounted it, but did mean to test it and see if that was an (the) issue.

I can confirm that it works as expected with the addition of the `maven-resources-plugin`

[2015-04-20 07:35] #190 closed

[2015-04-20 07:50] TheSnoozer commented on #190
Hi @Omertron,
glad to hear that this resolves your issue :)
Happy coding!

[2015-04-20 08:08] TheSnoozer commented on #61
Hi, this issue is on the market for quite a long time and I wanted to check if there is any issue unresolved yet ar at least a workaround suggested.
I bumped into this mysqlf, but this is issue can also occour when using the native git binary (see my last comment).
To avoid this we either can use the ``git describe --always`` or the ``failOnUnableToExtractRepoInfo``switch.
So I'm not sure if this

[2015-04-23 21:50] binkley opened #191 "Plugin should use slf4j for logging, because it's more configurable"
The plugin ignores `MAVEN_OPTS=-Dorg.slf4j.simpleLogger.defaultLogLevel=warn` and displays log messages prefixed with `[info]` (_sic_).

[2015-04-23 21:57] ktoso commented on #191
true, because it's not using slf4j but printlines... I guess we should change this finally.

For the time being: please set `<verbose>false</verbose>` in your pom, refer to the README for more info

[2015-04-23 21:59] ktoso commented on #191
I changed the title of the issue to describe what needs to be done here.
If you would like to help out a PR would be very much appreciated!

Thanks for reporting and maybe for the PR in advance(?)! :-)

[2015-05-16 07:52] TheSnoozer commented on #105
Hi,
first of all thanks for reporting this issue.
It's been a while since this issue is on the market and I just wanted to check if someone could reproduce it.
It seems that at least some problems reported back in the days resolved itself, so I think it's ok to check whether there are some problems still open.

Thanks,

[2015-05-16 07:55] TheSnoozer commented on #166
Hi @bargainloaf ,
thanks for reporting this issue and letting us know how to fix your problem.
Is there any problem on the git-commit-id-plugin left to fix?
Could you figure out if the plugin behaves as expected or is there anything strange happening in the background?

Again thanks for reporting and sorry for the late response :-)
Thanks,

[2015-05-21 17:06] TheSnoozer opened #193 "Please release 2.1.14"
As discussed in https://github.com/ktoso/maven-git-commit-id-plugin/pull/192
I think a release would be nice to have.
We have collected a lot of version upgrades and some NPE fixes (a total of 59 commits):
https://github.com/ktoso/maven-git-commit-id-plugin/compare/v2.1.13...master

Maybe it's worth to put https://github.com/ktoso/maven-git-commit-id-plugin/issues/191 into the Release...

[2015-05-21 17:09] ktoso commented on #193
Excellent, I'm on it :-) Thanks so much for triaging and merging all these tickets for this release!

[2015-05-21 17:10] ktoso commented on #193
Yeah I'll look into the logging thing actually... makes sense. Then I'll release. // @TheSnoozer

[2015-05-21 17:18] TheSnoozer commented on #193
Thanks Konrad!
I tried to fix the logging issue a couple of days ago, but I had barely time to work in it....
At least I found some custom implementations of the slf4j:
https://code.google.com/p/slf4j-maven-plugin-log/
http://slf4j.jcabi.com/

However I wasn't able to get them connected to the simpleLogger that takes the args for ``-Dorg.slf4j.simpleLogger.defaultLogLevel=warn``

[2015-05-21 23:56] ktoso commented on #191
Resolved by #194

[2015-05-21 23:56] #191 closed

[2015-05-21 23:57] ktoso commented on #193
The impl looks good, sorry that I didn't manage to impl it before you :-)
Rolling the release now!

[2015-05-22 00:33] ktoso commented on #193
Some tests fail for me locally... I'll need to fix those before releasing I think. I'll ping you once that's solved:

[code]

[2015-05-22 07:08] TheSnoozer commented on #193
Hi @ktoso ,
this looks like some sort of wierdo encoding problem....
Can you check what will be outputted by ``$ mvn clean package -X | grep "platform encoding"``

Also maybe changing the Assert Equals in LN127 to the following
``
assertEquals("Key difference for key: '" + key + "'", Charset.forName("UTF-8").encode(jgitProps.getProperty(key)), Charset.forName("UTF-8").encode(nativeProps.getPropert

[2015-05-22 19:11] ktoso commented on #193
Released!

[2015-05-22 20:26] TheSnoozer commented on #193
Awsome! Thanks :-)
How could you fix the encoding problem?

[2015-05-22 20:48] ktoso commented on #193
TBH I just ran it from my linux box, mac was doing weird things with console output. I don't think it's a bug in the plugin - my console is crooked somehow

[2015-05-23 16:51] TheSnoozer commented on #193
on mac it's a feature ;-)

[2015-05-23 17:03] ktoso commented on #193
(-;

[2015-05-25 20:53] TheSnoozer commented on #193
@ktoso
somehow it seems that the 2.1.14 is not available on maven.org

see:
[code]

[2015-05-25 21:10] ktoso commented on #193
Argh, multitasking! :-)
Done - I had forgotten to click the release button on sonatype.  It's on its way to central now.

[2015-05-26 00:27] ktoso commented on #193
And it's on central http://search.maven.org/#browse%7C1779525593

[2015-05-26 00:27] #193 closed

[2015-05-26 00:27] ktoso commented on #193
Thanks for the check @TheSnoozer!

[2015-05-26 02:28] TheSnoozer commented on #193
Hahha :-)
No worries, it's also now online on serach.maven.org.

Thanks!

[2015-05-27 19:12] TheSnoozer commented on #54
Fixed by https://github.com/ktoso/maven-git-commit-id-plugin/pull/195

[2015-05-27 19:12] #54 closed

[2015-05-29 19:19] rpomeroy opened #196 "Plugin fails on simple project"
https://github.com/rpomeroy/rjp-test

Fails with the following stack trace related to slf4j:  https://gist.github.com/rpomeroy/bba52d8aed21004ebb1e#file-gistfile1-txt

Any guidance appreciated

[2015-05-29 20:03] TheSnoozer commented on #196
Hi @rpomeroy ,
thanks for reporting this issue!
This is a must fix for the next version.

A quick online search yielded a similar problem (https://jira.codehaus.org/browse/MNG-5787).
I need to figure out if we can go for a workaround or if this is an issue within maven...
The only available solution I have to your problem is to use the older version of the git-commit-id-plugin (2.1.13). We have in

[2015-05-29 20:16] rpomeroy commented on #196
Correct.

--
Ronald Pomeroy
rpomeroy@me.com

[2015-05-29 21:53] ktoso commented on #196
Whoa sounds bad. Maybe we could get away with jarjar ing... Will have a
look at it as well.

Thanks for reporting
On May 29, 2015 10:16 PM, "Ron Pomeroy" <notifications@github.com> wrote:

[2015-05-29 22:45] TheSnoozer commented on #196
Well at least and can now reproduce the issue with
[code]
and
[code]
and it seem that this MNG-5787 is the same issue.
it breaks with different java-versions on different operating systems.
We can either use the
https://maven.apache.org/plugins/maven-shade-plugin/
or https://maven.apache.org/plugins/maven-assembly-plugin/
to somehow fix it....

[2015-05-30 07:58] TheSnoozer commented on #196
Well, it really seems that org.slf4j is the only dependency that currently creates the problem.
At least the workaround by creating a shaded war only need to have the org.slf4j-classes.

Workaround tested with mvn3.3.3, mvn3.2.3, mvn3.1.1 and each maven version tested with
``
java version "1.6.0_45" (java 6 is not supported with mvn3.3.3)
java version "1.7.0_80"
java version "1.8.0_45"
``

[2015-05-30 18:28] TheSnoozer commented on #196
Hi @rpomeroy,
this issue is fixed by https://github.com/ktoso/maven-git-commit-id-plugin/pull/197
Thanks for reporting :-)

[2015-05-30 18:28] #196 closed

[2015-05-30 22:03] TheSnoozer commented on #106
Hi @roytmana ,
I'm currently thinking about the best way to implement this feature/improvement. My first draft looks like adding a List of validationProperties containing one or multiple Objects of a validationProperty. For each validationProperty we could add a name and a regex to match against. If any of the regexes does not match the name, we could control the failure of the build by the trigge

[2015-06-01 20:17] hgschmie opened #198 "Version 2.1.14 is affected by https://issues.apache.org/jira/browse/MNG-5787"
using maven 3.3.3 / Java 1.8.0_45

This seems to be the issue described in https://issues.apache.org/jira/browse/MNG-5787

[code]

[2015-06-01 20:18] hgschmie commented on #198
2.1.13 is unaffected.

[2015-06-01 20:28] ktoso commented on #198
Thanks for reporting. Closing as duplicate though as it was reported and is fixed already :-)
See: https://github.com/ktoso/maven-git-commit-id-plugin/pull/197

We'll cut a 2.1.15 soon

[2015-06-01 20:31] hgschmie commented on #198
that is kind of a simpler fix:

[code]

[2015-06-01 20:33] ktoso commented on #198
Good to know, I did not research that problem in depth. Can you confirm this solves the issue?
Maybe we could revert the far-jar-ing and just downgrade slf then

[2015-06-01 20:33] hgschmie commented on #198
the problem is that by enforcing a later version of the appender, you are no longer compatible to the older version of the slf4j api (which is provided by the core class loader). Maven behaves absolutely correct, the bug is in the plugin. You can not use a newer version of slf4j.

Any version of Apache Maven since 3.1.1 ships slf4j 1.7.5

[2015-06-01 20:33] hgschmie commented on #198
Yes. Building a 1.7.5-SNAPSHOT with the 1.7.5 slf4j API and appender jar fixes the problem for me.

[2015-06-01 20:34] ktoso commented on #198
Thanks for checking! Sounds like a much simpler solution to the problem at hand, what about it @TheSnoozer - shall we revert the fat-jar, downgrade the dependency and release?

[2015-06-01 20:35] hgschmie commented on #198
if you use a fat jar, you are still at the mercy of the class loader (if it does parent-first, you will still get the classes from the core, not the ones from your fatjar).

[2015-06-01 20:35] hgschmie commented on #198
maybe add a comment to the line explainingn why this is 1.7.5 and why it should not be changed. Otherwise, you will get pull requests on a regular base wanting to update this dependency. :-)

[2015-06-01 20:37] ktoso commented on #198
Yeah, I thought we're also repackaging (which solves the classloading order issue) but we don't.
So the problem isn't really solved yet. I'd want to get an ACK from Snoozer and we'll go ahead with your proposed fix @hgschmie, thanks a lot for bringing it up!

Good hint, I concur.

[2015-06-01 20:46] hgschmie commented on #198
hmhm, wait a bit, I wasn't aware that the fatjar fix is already in the code base...

[2015-06-01 20:49] ktoso commented on #198
Yes but not released, see previously linked PR

[2015-06-01 21:17] hgschmie commented on #198
So, I am sorry, but I retract my previous statement. I wasn't aware of the fatjar packaging which made this work for me. The good news is that the class loaders for maven plugins seem to use child first behavior (which is what you want).

The actual fix is a bigger one and it is outlined here: https://github.com/eirslett/frontend-maven-plugin/pull/178 (this is the fix for another plugin).

In a nu

[2015-06-01 21:54] TheSnoozer commented on #198
Hi folks,
I'll check if downgrading the slf4j-version to ``<slf4j.version>1.7.5</slf4j.version>`` fixes the problem.
Keep you updated in a minute. If it fixes the problem I would say keep the jar-jaring out of the plugin this is a kind of nasty workaround.
I say the PR in eirslett/frontend-maven-plugin#178 but to be honest it's not obvious why this fixes the slfj4 Class NoDef-Found Problem...;)

[2015-06-02 07:00] TheSnoozer commented on #198
Final results of yesterdays research:
it seems that we can't avoid the jarjar-ing if we want to support ``-Dorg.slf4j.simpleLogger.defaultLogLevel=warn``

[2015-06-02 21:28] ktoso commented on #198
Awesome research guys, seems to me we agree the current solution seems to be a keeper.
Shall I roll the release @TheSnoozer?

[2015-06-03 16:04] TheSnoozer commented on #198
Well it seems that there is currently no alternative solution on the market and more and more user will run into this class-loading issue (I think we already got a count of three people).
Therefore, I would say roll out a release.

We need to watch the Maven-Issues and maybe throw out the jarjar-ing if someone has a better solution....

[2015-06-03 20:07] TheSnoozer opened #199 "Open Maven issue we should keep on the watch list"
I thought it's time to open some sort of watch list for our Maven problems...
- [ ] Problem with Required-Parameters and Default-Values in Nested Objects for Plugin-Parameters (https://issues.apache.org/jira/browse/MNG-5725)
- [ ] Maven 3.0.5 / 3.3.3 breaks plugins with some dependencies on the class path / slf4j (https://issues.apache.org/jira/browse/MNG-5787)
- [ ] Maven-Plugin's getLog() ignore

[2015-06-03 20:13] TheSnoozer commented on #198
Thanks @ktoso for releasing the latest version!
It's already online :-)
[code]

Btw: I'll close this issue :-)

[2015-06-03 20:13] #198 closed

[2015-06-03 21:37] ktoso commented on #198
Thanks :-)
I'm in the middle of a company meeting this week so things will be hectic,
thanks for the other PR updating the version nr!
On Jun 3, 2015 10:13 PM, "TheSnoozer" <notifications@github.com> wrote:

[2015-06-03 21:42] TheSnoozer commented on #198
:-)
I'm currently fighting travis....tests work locally but fail on travis...

[2015-06-04 09:02] ktoso commented on #199
Thanks!

-- 
Konrad 'ktoso’ Malawski
Akka @ Typesafe
java.pl / geecon.org / krakowscala.pl / lambdakrk.pl

On 3 June 2015 at 22:07:34, TheSnoozer (notifications@github.com) wrote:

I thought it's time to open some sort of watch list for our Maven problems...

 Problem with Required-Parameters and Default-Values in Nested Objects for Plugin-Parameters (https://issues.apache.org/jira/browse/MNG-5725

[2015-06-05 10:52] tavolate commented on #50
I still have this problem. I modified my configuration with the giovannilt suggestion but I have this issue:

org.eclipse.jgit.errors.NoWorkTreeException: Bare Repository has neither a working tree, nor an index
remote: 	at org.eclipse.jgit.lib.Repository.getWorkTree(Repository.java:1246)
remote: 	at org.eclipse.jgit.treewalk.FileTreeIterator.<init>(FileTreeIterator.java:88)
remote: 	at org.eclips

[2015-06-05 15:57] TheSnoozer commented on #50
Hi @tavolate,
thanks for reporting your issue.
Could you open a sepearte issue for your problem?
Also to help you as quickly as possible can you clarify under which conditions the build fails?
Where does it get's executed (local/CI)?
What Java / mvn-version?
How does you config currently look like?
Anything can help here.

Thanks,

[2015-06-06 10:18] tavolate opened #201 "Using git-commit-id-plugin on OpenShift #2"
When I push my commit to OpenShift and it bulids the project automatically, maven fails the build with this error
org.eclipse.jgit.errors.NoWorkTreeException: Bare Repository has neither a working tree, nor an index
remote: at org.eclipse.jgit.lib.Repository.getWorkTree(Repository.java:1246)
remote: at org.eclipse.jgit.treewalk.FileTreeIterator.(FileTreeIterator.java:88)
remote: at org.eclipse.jgi

[2015-06-07 07:36] TheSnoozer commented on #201
Hi @tavolate,
thanks for reporting your issue.
How does you config currently look like?
What version of OpenShift you are using?
Anything bit of information help here.

Thanks,

[2015-06-07 19:31] tavolate commented on #201
This is my configurati in
<configuration>

    <generateGitPropertiesFile>true</generateGitPropertiesFile>

    <generateGitPropertiesFilename>src/main/resources/git.properties</generateGitPropertiesFilename>
</configuration>

[2015-06-07 21:46] TheSnoozer commented on #201
What happens if you add
``<dotGitDirectory>path-to-your-git-project</dotGitDirectory>``
to your config?

default is: ${project.basedir}/.git
Is this a valid git-directory on the system where the build fails?

[2015-06-08 08:59] tavolate commented on #201
With this, I have this exception:

org.eclipse.jgit.errors.NoWorkTreeException: Bare Repository has neither a working tree, nor an index
remote: at org.eclipse.jgit.lib.Repository.getWorkTree(Repository.java:1246)
remote: at org.eclipse.jgit.treewalk.FileTreeIterator.(FileTreeIterator.java:88)
remote: at org.eclipse.jgit.api.StatusCommand.call(StatusCommand.java:126)
remote: at pl.project13.jgit.D

[2015-06-08 14:09] TheSnoozer commented on #201
Can you try as outlined in https://forums.openshift.com/fatal-not-a-git-repository-or-any-of-the-parent-directories-git the following:

[code]

[code]
Add this directory to the git config with ``<dotGitDirectory>path-to-your-git-project</dotGitDirectory>``

[2015-06-08 15:07] tavolate commented on #201
This is my .git/config local

[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://*********/vilma.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "testing"]
	url =ssh://*********/~/git/vilma.git
	fetch = +refs/heads/*:refs/remotes/testing/*
[remote "produc

[2015-06-08 20:55] TheSnoozer commented on #201
That's right. The Problem is on the side of the OpenShift.
The OpenShift has currently a so called ``Bare Repository``.
However the maven-git-commit-id-plugin need a ``Working Repository``.
This article summarizes pretty good what the difference between those two are:
http://www.saintsjd.com/2011/01/what-is-a-bare-git-repository/

The keypoint is:
``Because no one ever makes edits directly to file

[2015-06-08 20:59] tavolate commented on #201
Thank you for your time and your work!

[2015-06-08 21:03] TheSnoozer commented on #201
No worries, the key point is:
You need a way to config your job that it will create a clone the original git repository.
A ``git clone URL-TO-YOUR-REPO`` will create a ``Working Repository``.

E.g.
``git clone git@github.com:ktoso/maven-git-commit-id-plugin.git``
Also if you found a way to do so, please let us know :-)

[2015-06-14 18:49] TheSnoozer commented on #201
Hi @tavolate,
could you solve your problem?
If yes please let us know how :-)
Thanks

[2015-06-16 08:59] TheSnoozer opened #202 "Avoid the fat-slf4j-jar and solve the logging issue in a better way"
Hi @ktoso,
before I start working on this issue I wanted to recheck some couple of details.
With Issue https://github.com/ktoso/maven-git-commit-id-plugin/issues/191 we got the Request that the plugin ignores ``MAVEN_OPTS=-Dorg.slf4j.simpleLogger.defaultLogLevel=warn``
I have introduced the slf4j-dependency with https://github.com/ktoso/maven-git-commit-id-plugin/pull/194.
However we got some clas

[2015-06-16 09:42] Martin-Wegner opened #203 "IOException while building"
Since 2.1.14 or 2.1.15 I get this error:

[code]

The error should be fixed in jgit 4.0.0.201506090130-r:
https://github.com/eclipse/jgit/commit/ec6ec3b10fb1ef8dd73a499d0b1f7a7d711b84dd

So I think you should update the maven-git-commit-id-plugin jgit pom dependency?

[2015-06-16 09:47] ktoso commented on #203
Would be cool if you could try updating the dependency and run locally, so we'll know if it works.
I don't have a windows box at my disposal.

Vielen dank im vorhinein Martin!

[2015-06-16 12:13] Martin-Wegner commented on #203
It works but you must change JGitCommon.java line 220 from walk.release(); to walk.close();

After that the following unit tests will fail:

GitCommitIdMojoIntegrationTest:
->  shouldFailWithExceptionWhenNoGitRepoFound (because the directory is found)
->  shouldSkipWithoutFailOnNoGitDirectoryWhenNoGitRepoFound (because the directory is found)

GitCommitIdMojoTest
-> testCraftPropertiesOutputFileWi

[2015-06-16 12:47] ktoso commented on #203
Sounds like legit mistakes in tests, thanks for investigating!

[2015-06-16 18:05] leothekim opened #204 "Add ability to set the timezone along with dateFormat"
We report the build time that's generated in `git.properties` in our webapp, and we'd like to be able to set the `ZoneId` to UTC for the formatted datetime to make it consistent with other timestamps we report. Seems like this would just be adding a `setTimeZone()` call based on a `<timeZone>` field.

[2015-06-16 19:56] TheSnoozer commented on #204
Hi @leothekim,
thanks for reporting your issue here.
It sounds reasonable to add this to the plugin.

I would add something like
``smf.setTimeZone(java.util.TimeZone.getTimeZone("UTC"));`` whereas UTC is the parameter you can configure in the plugin's configuration.

By the way you can work around this by adding ``-Duser.timezone=PST`` to your build options or adding the user.timezone to your pom'

[2015-06-16 21:24] leothekim commented on #204
Thanks @TheSnoozer for looking into this! I tried `-Duser.timezone=UTC` and its equivalents in various places of pom.xml (in the configuration stanza for this plugin, in the compiler plugin, etc), but couldn't get it to change the timezone of the build time. Didn't look at it too long though, so I probably just missed something.

[2015-06-18 16:57] TheSnoozer commented on #203
fixed by #205. Thanks!

[2015-06-18 16:57] #203 closed

[2015-06-18 17:56] bargainloaf commented on #166
Hi @TheSnoozer,

Someone finally read my comments :). I'm assuming since I reported this issue there hasn't been any releases so I would think that the issue is still around?, but like I mentioned I'm not sure if I was following the correct way to configure a multi module project as I stated in the first comment.

But since moving to the new suggested layout we have not had any problems. One thing

[2015-06-18 18:21] bargainloaf commented on #166
Ok had a look and refreshed my memory. This is the problem

[code]

What happened with me is the pom.xml file which starts the execution sits in the root folder
[code]

When the code snippet above executes for the first module, which in my case is the parent-module it has the following absolute path
[code]

Which means the plugin will not execute as the absolute paths do not match. Only once my ag

[2015-06-18 18:30] TheSnoozer commented on #166
Hi @bargainloaf,
thanks for outlining what's going wrong and where the issue is.
I'll debug this when I have some time ;-)
Maybe I'll only add this to the readme to suggest everybody the working workaround.

Mhh your build takes 120+ secs?
Are you using the jgit-implementation?
I had this issue back in a while and therefore the plugin offers two way to extract the git properties.
One way is using

[2015-06-22 15:14] #122 closed

[2015-06-22 15:16] TheSnoozer commented on #122
finally fixed with #206

[2015-06-27 21:04] TheSnoozer opened #207 "Maybe introduce a test-coverage Badge to the Readme?"
I have seen a couple of projects on github using a test-coverage badge on the readme.
It's kind of nice to have but not required at all....

Example:
[![Coverage Status](https://coveralls.io/repos/letsencrypt/letsencrypt/badge.svg?branch=master)](https://coveralls.io/r/letsencrypt/letsencrypt?branch=master)

Code:

[code]

Anybody interested to introduce the same for the git-commit-id-plugin?

[co

[2015-06-28 05:39] tweise opened #208 "Support system properties"
It would be great if the plugin configuration can support system properties that can be passed from the command line or set dynamically.

[2015-06-28 05:44] tweise opened #209 "Skip execution based on presence of file"
This option would be useful to limit execution to once after clean. The behavior cannot be accomplished via profile since the activation condition is evaluated before clean and not at time of execution.

[2015-06-28 08:42] TheSnoozer commented on #208
Hi @tweise,
thanks for letting us know further improvements of the plugin.
What properties would you like to set all plugin-configuration-options via command line?
Not sure if it's reasonable to add this behavior inside the plugin, so far I haven't seen a single maven plugin doing this (I can check this out anyway ;-)). Also need to investigate if it's good behavior to bypass the pom.xml-config ba

[2015-06-28 08:55] TheSnoozer commented on #209
Well you can also deactivate the git-commit-id-plugin directly when the profile is activated. Then there would be no need to check for some magic files...Also I think it would just be to complicated and raise race-conditions to check for the presence a local file....

[code]

[2015-06-28 12:06] ktoso commented on #208
This should not be part of the plugin - this is exactly what maven properties are for, as @TheSnoozer has shown in the later example.

Voting to close, it's solved by how maven works - just use properties for values you want to configure this way.

[2015-06-28 12:18] ktoso commented on #207
I don't mind, can give it a shot

[2015-06-28 13:35] TheSnoozer commented on #208
@ktoso agree. I'll put it on the graveyard.

[2015-06-28 13:35] #208 closed

[2015-06-28 16:13] tweise commented on #209
The idea was to only generate the revision info when the file wasn't already generated (for incremental build/development mode).

[2015-06-28 16:24] tweise commented on #208
There are several plugins that support properties, here is another example:

https://maven.apache.org/plugins/maven-dependency-plugin/build-classpath-mojo.html

[code]
With property support you could do instead:
[code]
It would also allow to set properties during the build (profile activation options are very limited). Plugin configuration section is resolved before any other plugin runs.

[2015-06-28 18:05] TheSnoozer commented on #209
Hi @tweise,
as far as I know it should work fine that the current version of the plugin will not regenerate the properties-file if it's present and up-to-date.
If I build the current bit-commit-id-module with ``mvn package -Pdemo -Dmaven.test.skip=true`` I'll get the following output:
[code]
However, if you are using clean, there is no file available and the plugin needs to generate a new file.
Al

[2015-06-28 18:12] TheSnoozer commented on #208
Hi @tweise,
the properties could be overwritten with the activation of a profile:
[code]

as soon as I build with ``mvn clean package -Pdemo`` the git-commit-id-plugin will generate it's content to the file that is specified in the profile. And you still can overrule everything with using ``-Dgit.commit.plugin.properties.file=target/somethingDifferent``

[2015-06-30 12:36] TheSnoozer commented on #209
Hi @tweise,
could this solve your problem?

[2015-06-30 16:17] tweise commented on #209
Actually, I'm looking to skip execution entirely if the file was already generated. I was trying to use the skip property and profile activation based on presence of the generated file. That works except in the case of clean, where the file is blown away after the profile got activated and skip was already set.

That's the reason I created #208 - it would allow me to set the skip property after cl

[2015-06-30 23:45] TheSnoozer commented on #209
Maybe it's just too late to get the use-case of this...
However a clean is actually supposed to clean everything including the file that was generated by the git-commit-id-plugin. When the file is gone you can't obtain any version informations out of it.
Also if the file is present the plugin should check if it's up to date, otherwise you'll get old version informations in whereever you use them.

[2015-07-04 16:17] tweise commented on #209
The solution I was looking for requires dynamic behavior and cannot be accomplished via profiles. Your example is the setup I'm currently using. It cannot handle the case where clean removes the file, it won't regenerate it during package in the same run. Command line parameter is a workaround. The better solution would be to detect the skip value during execution, but for that the plugin would ne

[2015-07-04 18:48] TheSnoozer commented on #209
Hi @tweise,
this overall issue sounds like you would like to something special if you have a magic file in your repository. Maven is build to create repeatable builds and as a general thumb rule doing something special whether a file is present of not.
However, the maven-profiles can be activated by default with when certain conditions are true.

Example profile that will be activated if a specifi

[2015-07-06 16:19] TheSnoozer commented on #209
I think in this thread there should be enough different ways to actually conquer what was requested.
Additionally I think the plugin works as expected and therefore would close this issue.

[2015-07-06 16:19] #209 closed

[2015-07-10 16:55] TheSnoozer commented on #201
Hi @tavolate,
any updates on this issue? otherwise I'll close it.

Thanks,

[2015-07-10 17:13] tavolate commented on #201
Hi,

no, I didn't find a solution. I don't use your plugin on openshift.

Thanks
Il 10/lug/2015 06:55 PM, "TheSnoozer" <notifications@github.com> ha scritto:

[2015-07-10 17:19] TheSnoozer commented on #204
According to https://docs.oracle.com/javase/7/docs/api/java/util/TimeZone.html:
[code]
this will go in the docs....

[2015-07-10 17:21] TheSnoozer commented on #201
Ok, thanks for the feedback.
Will close this issue then.

[2015-07-10 17:21] #201 closed

[2015-07-12 22:07] TheSnoozer opened #211 "Maybe add a switch to generate the git.commit.id the "old" way"
I'm currently not really happy with the solution we have for the changing one of the major properties from ``git.commit.id`` to ``git.commit.id.full`` (related to https://github.com/ktoso/maven-git-commit-id-plugin/issues/122 and https://github.com/ktoso/maven-git-commit-id-plugin/commit/80fced8db322b1a1ccead59ca1ed8fed93742cec).

I think a way more better solution would be to include a switch (ca

[2015-07-12 22:56] TheSnoozer commented on #204
Hi @leothekim,
thanks for the suggestion.
Feature will be shipped in 2.2.0.

[2015-07-12 22:56] #204 closed

[2015-07-12 23:05] TheSnoozer commented on #90
Unfortunately due the lack of feedback here I see no other choice to close this as "Won't Fix" and will put it on the "graveyard".
If the problem is still present please let us know or try to play around with the native git implementation.

Thanks,
S.

[2015-07-12 23:05] #90 closed

[2015-07-12 23:35] TheSnoozer commented on #66
As outlined in my previous post, "back in the days" we just accessed the maven properties. I did some research and found these related maven issues:
https://issues.apache.org/jira/browse/MNG-5493
https://issues.apache.org/jira/browse/MNG-5670
https://issues.apache.org/jira/browse/MRRESOURCES-65

This seems there was a maven issue which had been solved.
In case someone is bumping into this issue ag

[2015-07-12 23:35] #66 closed

[2015-07-13 02:05] leothekim commented on #204
Thank you, @TheSnoozer! Good call on the TimeZone issue too!

[2015-07-18 19:46] ktoso commented on #211
I agree the current style is not very nice, though not sure if we can afford breaking existing adjusted clients... will review thr PR

[2015-07-27 16:13] naineel opened #213 "git.dirty not working as expected or I haven't understood it properly"
Hi, I've been trying to use the git.dirty feature which according to me should be telling me whether there are modifications in the working directory against the most recent commit. I haven't been able to get it work. Even after there are no differences between the working directory and the most recent commit it still gives me git.dirty=true when I think it should give me false.
I have added the f

[2015-07-27 18:05] TheSnoozer commented on #213
Hi @naineel,
thanks for reporting your problem here.
As far as I would say you got the definition of the dirty totally right:
``A working tree is said to be "dirty" if it contains modifications which have not been committed to the current branch.`` (https://www.kernel.org/pub/software/scm/git/docs/gitglossary.html#def_dirty)

What version of the plugin you are currently using?
I just had tested wi

[2015-07-28 16:15] naineel commented on #213
Hi thanks for the reply. I was using the version 2.1.13 as 14 and 15 aren't compatible with maven 3.0.5.
Git status was showing working directory to be clean.
git describe --dirty --long was ending with -dirty.

Was this a bug in the 13 version ?

[2015-07-28 16:24] TheSnoozer commented on #213
No so far there was not a known bug with the generation of the ``dirty``-flag.

In your case something seems to be strange....when the ``git describe --dirty --long``is ending with ``dirty`` than I would say that the directory is dirty:

https://git-scm.com/docs/git-describe
[code]
Those are native calls when this says it's dirty, it's dirty....

Do you have submodules and maybe something in the s

[2015-07-28 16:32] naineel commented on #213
I'm using git version 1.7.9.5
The problem is dirty itself works as a command on git. It doesn't reflect on the properties file using the plugin which is the weird part.
What I forgot to mention is that I'm running this inside a docker container don't think it matters though.
Do you have any other ideas as to why it's happening ?
Any other details I can give you ?

[2015-07-28 16:42] TheSnoozer commented on #213
Mhh this is kind of strange. I could try to trace this issue down. The docker shouldn't do any difference.
Can you do me the favour and set the additional configuration ``<useNativeGit>true</useNativeGit>`` for the plugin?
This will execute the queries we gather inside the plugin directly to the native git binary (without the config it will ask a custom jgit implementation). If it produces the sam

[2015-07-28 16:54] naineel commented on #213
Well I actually tried that after reading the documentation when it wasn't working and it produced the same result. :(
I actually looked at the source code and especially the tests which checked the dirty functionality. But just wasn't able to reproduce it.
And yeah we were pretty much talking about the same dirty.
Thanks for all the help..I guess you can close the issue now..I already used an alte

[2015-07-28 17:04] TheSnoozer commented on #213
Well I would love to fix it when it's a problem or bug and I would give it a shot to debug.
However when the native git binary says it's dirty I also would say it's dirty :-)
When you run the plugin with the native binary we basically execute ``git status -s`` and check if the result is empty. So maybe in some strange version of git this returns a newline or whatsoever....

What docker container a

[2015-07-28 17:22] naineel commented on #213
Its a custom tailored docker container though I doubt that's the issue.
Well I used git dirty --exit-code and checked $?
What this does is it essentially reduces the output to a 1 or a 0.. 1 if dirty and 0 if clean.
Use it if it is feasible :)

[2015-07-28 18:20] TheSnoozer commented on #213
Where did you get the git binaries from?
Apparently those from https://git-scm.com/docs does not support the commands ``dirty`` and ``--exit-code``

Is this the binary from https://code.google.com/p/git-core/ ?

[2015-07-28 21:06] naineel commented on #213
Well it is there in the git-scm..check it out
http://git-scm.com/docs/git-diff

[2015-07-28 21:09] naineel commented on #213
Oops Im so sorry..I made a typo in the command I sent you..its actually
git diff --exit-code not dirty

[2015-07-30 00:47] TheSnoozer commented on #213
Using: https://registry.hub.docker.com/_/ubuntu/

Dockerfile:
[code]

Steps to build ubuntu docker container (draft):
``
$ cd folder/where/dockerfile/is/located/
$ docker build -t thesnoozer/maven-git-commit-id-plugin .
$ docker run -it thesnoozer/maven-git-commit-id-plugin
# cd /tmp
# git --version
# mvn -version
# git clone git@github.com:ktoso/maven-git-commit-id-plugin.git
# cd maven-git-commi

[2015-08-01 14:38] TheSnoozer commented on #153
Just as a side node, I ran into this issue with a maven-3.0.5 and java 8 running inside a docker container....good that we had fixed it ;-)

[2015-08-01 15:59] TheSnoozer commented on #213
Have tested with docker ubuntu:14.04.2 and ubuntu:12.04.5 used different maven versions and different git versions. However the dirty-flag in v2.1.13 works as expected.

If someone else comes across this issue I would love to investigate but I think at this stage I would say everything works as expected.

[2015-08-01 15:59] #213 closed

[2015-08-01 17:09] ktoso commented on #153
:-)

[2015-08-02 08:29] TheSnoozer commented on #203
Workaround:
https://github.com/UniversalMediaServer/UniversalMediaServer/issues/627#issuecomment-126943376

[2015-08-02 09:24] szymex opened #214 "Provide code style description for auto-formatting"
Provide code style description for auto-formatting, for example .idea/codeStyleSettings.xml for IntelliJ IDEA users.

[2015-08-02 10:43] TheSnoozer commented on #214
I like this.
Thought about this a couple of times, because I use this in my private projects as well.
Not sure if this code style description will also be taken into account when you use a different IDE like eclipse, sts or netbeans.
Would definitely prefer something that works more than for just one IDE.
Otherwise this projects ends up with huge amount of different code style descriptions that al

[2015-08-02 11:56] ktoso commented on #214
`+1` for a code formatter, if we can find one that just works independently of IDE.
`-1` for anything IDE specific. Not all contributors use IDEA and thus would mess up the formatting anyway, rendering the settings useless...

Status quo of the java formatting landscape seems to be that only the eclipse formatter can be used from a maven plugin: https://github.com/revelc/formatter-maven-plugin/iss

[2015-08-15 12:16] TheSnoozer commented on #211
fixed by https://github.com/ktoso/maven-git-commit-id-plugin/pull/212

[2015-08-15 12:16] #211 closed

[2015-09-02 09:27] qboileau opened #215 "Support of git worktree option"
Hi, since git 2.5.0 [worktree](https://git-scm.com/docs/git-worktree) option allow to create many working tree linked to a single repository.

Building a linked working tree using  git-commit-id-plugin mojo failed because current git reference can't be retrieve. Seems to  be JGit issue, but I think it's useful to report here first.

Build exception :
[code]

[2015-09-02 15:22] TheSnoozer commented on #215
Hi,
yes this seems not yet implemented in the jGit Implementation.
Does it fail as well when you use the native git binary?

Recently started discussion on eclipse about the "worktree"
https://www.eclipse.org/forums/index.php/m/1703524/
Couldn't find a feature-request on the bug-list yet:
https://bugs.eclipse.org/bugs/buglist.cgi?quicksearch=worktree
(maybe we should file one?)

Also it should be

[2015-09-16 08:48] mih-kopylov opened #216 "Update jgit version to v4.0.1.201506240215-r"
Here's the jgit commit that fixes IOException https://github.com/eclipse/jgit/commit/ec6ec3b10fb1ef8dd73a499d0b1f7a7d711b84dd
Here's the jgit release with the fix
https://github.com/eclipse/jgit/releases/tag/v4.0.1.201506240215-r

[2015-09-16 08:49] ktoso commented on #216
Great! Would you like to submit a Pull Request updating the version?

[2015-09-16 10:04] TheSnoozer commented on #216
Is https://github.com/ktoso/maven-git-commit-id-plugin/issues/203 the same Problem?
If so we should think about releasing the 2.2.0

Workaround:
UniversalMediaServer/UniversalMediaServer#627 (comment)

[2015-09-16 10:11] ktoso commented on #216
Yeah, let's release once jgit version bumped :+1:

[2015-09-16 18:19] TheSnoozer commented on #216
Updated the version; will run a quick test under windows to make sure everything is stable....
PR eta 20 Mins

[2015-09-24 11:46] jmtd opened #217 "make generateGitPropertiesFilename optional"
It would be great if generateGitPropertiesFilename was optional, defaulting to `src/main/resources/git.properties` (as the documented example).

[2015-09-24 12:01] ktoso commented on #217
Sounds like a good idea, thanks :)

[2015-09-24 12:01] ktoso commented on #217
Sounds like a good idea, thanks :)
If you have a bit of time to spare, a PR would be most wonderful, if not I hope we'll get to it eventually.

[2015-09-24 14:20] TheSnoozer commented on #217
Mhhh what's the benefit of defaulting to `src/main/resources/git.properties` instead of the current default `target/classes/git.properties` ?

the current default value is `${project.build.outputDirectory}/git.properties` is documented here:
https://github.com/ktoso/maven-git-commit-id-plugin/#configuration-options-in-depth

Or am I getting this wrong and something does not work as expected?

[2015-09-24 14:24] ktoso commented on #217
Now that you mention it, I think _I_ may have misunderstood hm... Maybe @jmtd means that in the `using the plugin` section, we're showing the `src/main...` value being used in this setting, and that's not the default, so it's unexpected, see:

[code]

Maybe then the solution is to document the right thing (I'm all for not changing existing behaviour in this case actually, don't want to break peopl

[2015-09-24 18:06] jmtd commented on #217
Hi,

Thanks, yes - I didn't realise that the src/... value was *not* the default, and it wasn't clear whether the parameter could be committed. Please let me know what you think of #218.

[2015-09-24 18:10] TheSnoozer commented on #217
@jmtd,
Yes makes totally sense!

Merged your PR and will close this.
Thanks for reporting and fixing it :-)

[2015-09-24 18:10] #217 closed

[2015-09-24 18:17] TheSnoozer commented on #216
still some failing tests here. not sure if it's my environment. Will deploy another Windows VM....:-(
Stay tuned..

[2015-09-25 14:24] ktoso commented on #217
Thanks guys!

[2015-09-25 14:25] ktoso opened #219 "Release 2.2.0"
Seems like we may want to include https://github.com/ktoso/maven-git-commit-id-plugin/issues/216 but otherwise are ready to ship 2.2.0, WDYT @TheSnoozer?

[2015-09-25 16:06] TheSnoozer commented on #219
I think we are ready to ship the 2.2.0.
As far I can tell the #216 is only a ticket for upgrading the jgit-implementation. The Path-Bug is already fixed in the implementation we are currently using....as a result keep the issue open (we should upgrade soon), but I do not see the need to upgrade for the 2.2.0.

Hopefully will have some time over the weekend to debug this.
Currently buried in work ;

[2015-09-27 20:08] ktoso commented on #219
Okey, thanks for the heads up!
I'll cut the 2.2.0 soon then.

--
Cheers,
Konrad 'ktoso’ Malawski
Akka <http://akka.io> @ Typesafe <http://typesafe.com>
java.pl / geecon.org / krakowscala.pl / lambrakrk.pl / gdgkrakow.pl

2015-09-25 18:06 GMT+02:00 TheSnoozer <notifications@github.com>:

[2015-09-28 09:32] ktoso commented on #219
I've pushed the release. Will do release notes in the evening.

[2015-09-29 21:18] TheSnoozer commented on #219
awsome!

[2015-09-29 21:20] ktoso commented on #219
Updated the readme with the right version numbers as well :)

[2015-09-29 21:20] ktoso commented on #219
Thanks @TheSnoozer and everyone involved in this one!

[2015-09-29 21:20] TheSnoozer commented on #216
Updated the title due to the fact that the NPE is fixed in the jgit version that was introduced in #203.

[2015-09-29 21:21] TheSnoozer commented on #219
Thank you @ktoso. You made this all possible :-J

[2015-09-30 18:07] TheSnoozer commented on #219
@ktoso, could you check if the deployment got stock somewhere?
Can't find the jar on https://search.maven.org/#search|gav|1|g%3A%22pl.project13.maven%22%20AND%20a%3A%22git-commit-id-plugin%22

Thanks :-)

[2015-09-30 18:16] ktoso commented on #219
Hah excellent catch, forgot to click `release` (step 2) in sonatype (did click `close` (step 1))

[2015-09-30 18:16] ktoso commented on #219
Pushed now, should be online in a few minutes

[2015-09-30 18:37] ktoso commented on #219
Done: http://repo1.maven.org/maven2/pl/project13/maven/git-commit-id-plugin/2.2.0/
Thanks for the reminder @TheSnoozer !

[2015-09-30 18:37] #219 closed

[2015-09-30 18:43] TheSnoozer commented on #219
awesome! Thx :-)

[2015-10-14 19:54] nealeu commented on #107
I just noticed this and related issues, as we are using this plugin but not having them.

The reason this is happening is that the src/ folder is a watched folder in Eclipse for files that are edited by humans.  The target folder is where all derived resources should go.

Our settings specify:
[code]
and
[code]
Later phases then package this for deployment

[2015-10-14 20:34] TheSnoozer commented on #107
@nealeu,
this makes sense.....I just found two articles ([1] and [2]) that support the thesis that eclipse or the "Maven Project Builder" will be invoked when it detects some changes in the project.

quote from [2]
[code]

I'm not sure though if the "Maven Project Builder" is an incremental project builder, but anyhow it sounds like this is by design. Maybe the only thing we could do here is put a

[2015-10-14 21:51] TheSnoozer opened #220 "Resources to the Git-Repository-Folder are not closed properly when using the jgit-Implementation"
This is a very rare case, but I noticed that the Object-Resources to the Git-Repository-Folder are not closed properly when using the jgit-Implementation. This becomes obvious when running the describe command with the jgit-implementation and trying to move the .git-Folder to a different location (e.g. .gitOld) in the same build on a windows system.

Example Test-Profile:

[code]

under windows ru

[2015-11-10 09:52] jcnoir opened #221 "Lightweight tag & git.closest.tag.name ?"
I use this plugin with lightweight tags.
I configure the pom.xml like this :

[code]

In the generated git.properties file :
- git.tags : OK (points to the last lightweight tag)
- git.closest.tag.name : points to the last annotated tag and not the last lightweight tag.

Is there a way to get the  last lightweight tag in the  git.closest.tag.name property ?

Thanks for this nice plugin !

[2015-11-10 11:01] bademux opened #222 "PatternSyntaxException"
Tested on:
git-commit-id-plugin: 2.2.0
JVM: HotSpot 1.8 64bit (Windows)
maven project with 3 submodules, one of submodules uses git-commit-id-plugin

 git-commit-id-plugin 2.1.13  works OK
 git-commit-id-plugin 2.2.0 with "useNativeGit =true"  works OK

log:

[code]

[2015-11-10 11:08] ktoso commented on #222
If you could prepare a reproducer that would help a lot!

-- 
Konrad 'ktoso’ Malawski

On 10 November 2015 at 12:02:00, bademux (notifications@github.com) wrote:

Tested on:
git-commit-id-plugin: 2.2.0
JVM: HotSpot 1.8 64bit (Windows)
maven project with 3 submodules, one of submodules uses git-commit-id-plugin

git-commit-id-plugin 2.1.13 works OK
git-commit-id-plugin 2.2.0 with "true" works OK

l

[2015-11-10 11:08] ktoso commented on #222
Thanks for reporting

[2015-11-11 03:35] winters1224 opened #223 "Could not complete Mojo execution... (pl.project13.maven:git-commit-id-plugin:2.2.0:revision:default:initialize)"
It's the first time I use this plugin, and this problem has troubled me two days. Can anybody help me?

// As a Chinese, I'll try my best to express the question clearly.
// the whitespaces in xml tags are added only here. They are not exist in my files.

I have two projects and poms in eclipse. One is parent and another is son.
The parent's pom is following:
  < build>
 ...
       <pl ugins>

[2015-11-11 04:17] winters1224 commented on #223
Eclipe told me more infomation after an update of M2E. The info is as follow:
Could not complete Mojo execution... (pl.project13.maven:git-commit-id-plugin:2.2.0:revision:default:initialize) org.apache.maven.plugin.MojoExecutionException:
 Could not complete Mojo execution... at pl.project13.maven.git.GitCommitIdMojo.handlePluginFailure(GitCommitIdMojo.java:504) at
 pl.project13.maven.git.GitCommi

[2015-11-11 04:31] winters1224 commented on #223
well, well, the problem was resovled because of my good luck(are you sure?). The configuration of "useNativeGit" was set to "false", and the dotGitDirectory was set to "F:\git\thread.git" as above, then everything is OK now.

However, could anybody explain it? I still have no idea about why the problem happened and how it resovled.

[2015-11-11 08:35] TheSnoozer commented on #221
Hi Thanks for reporting your Problem here.
I'll try to setup a small project to reproduce the Problem the have...stay tuned for updates!! :-)

[2015-11-11 08:41] TheSnoozer commented on #223
Hi @winters1224,
thanks for reporting your problem here.
The Plugin currently allows two different ways to be executed.
Option 1 is to use the native git (the executable git needs to be installed on your computer)
Option 2 is to use a java git implementation from jgit

the configuration "useNativeGit" switches between those two options. "useNativeGit" = true means that we go for Option 1 and try t

[2015-11-12 09:52] winters1224 commented on #223
Hi @TheSnoozer , you're exactly right. The configuration was set to "useNativeGit" = true.

I'll check my git installation on my computer. Thank you!

[2015-11-12 09:52] #223 closed

[2015-11-12 15:55] TheSnoozer commented on #223
Hi @winters1224,
thanks for the feedback.
We recommend to run the plugin with ``useNativeGit = false``  unless you experience slow build times or other problems.
Glad that this already could solve the Problem :-)

To actually run the plugin you do not need to fix your git-Installation since we have the java implementation of git as well :-)

In case you have other Problems or Questions do not hesi

[2015-11-16 20:31] helterscelter opened #224 "support --first-parent option in the jgit implementation of "git describe""
the current jgit based implementation doesn't have an option to choose tags by following the --first-parent.  This is supposed to allow you to skip tags which are introduced by merges into the current branch. think multi-branch repositories where master/trunk represents "production". if you merge a hotfix forward from "master" into one of your develop branches, the annotated tag from the hotfix wi

[2015-11-16 21:01] TheSnoozer commented on #224
Hi @helterscelter
thaks for reporting this here. This sounds like a great idea to go for.
You got the point that it mostly needs some jgit-implementation adjustments...
Ideas and PRs are very welcome :-)

[2015-11-17 11:17] bademux commented on #222
Sorry guys, here the testCase.

How To reproduce
1. Download and Rename to zip - [testCase222.zip.txt](https://github.com/ktoso/maven-git-commit-id-plugin/files/36576/testCase222.zip.txt)
run in terminal ```$ mvn clean install ```

my env:
[code]
[code]
[code]

[2015-11-18 16:52] TheSnoozer commented on #222
Hi @bademux,
thanks for the feedback.
So far I was not able to reproduce the scenario..will need to setup a windows with cygwin...

[2015-11-19 11:31] bademux commented on #222
Yep it's cygwin<>java problem - in windows native "terminal" it works well ``` >mvn clean install ```

[2015-11-19 11:59] bademux commented on #222
Ok, here my debuging, basically it yaks up on loadRulesFromFile,
[code]
where argument "exclude" of type File  =  "C:\cygwin64\bin\git.exe"
so after the parsing the InputStream we have something like "MZ�       ��  �       @                                   �   � �	�!�L�!This program cannot be run in DOS mode."

[code]

[2015-11-19 12:20] bademux commented on #222
The differences in behavior cygwin and native win. terminal:
in
[code]
the code
[code]
somehow returns "C:\cygwin64\bin\git.exe" for Cygwin env

[2015-11-19 12:26] bademux commented on #222
Updated TestCase:
1. Download and Rename to zip and unpack - [testCase222.zip.txt](https://github.com/ktoso/maven-git-commit-id-plugin/files/38920/testCase222.zip.txt)
2. run ``` git init ```
3. in the project dir run in terminal ```$ mvn clean install ```

[2015-11-22 09:31] vbauer commented on #61
I have the same problem with version 2.1.9:

[code]

[2015-11-22 22:26] TheSnoozer commented on #61
Hi @vbauer could you post your configuration of the plugin?
Does the suggested workarounds do not help here?

Thanks,

[2015-11-23 08:26] vbauer commented on #61
Configuration of the plugin:
[code]

I haven't tried to use workaround, just wanted to provide some additional information. For now, I can build project in Intellij IDEA (instead of console) and it is fine for me.

[2015-11-23 15:17] mdern commented on #61
This is not vbauer's email.

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: TheSnoozer <notifications@github.com>
Date: 11/22/2015  2:26 PM  (GMT-08:00)
To: ktoso/maven-git-commit-id-plugin <maven-git-commit-id-plugin@noreply.github.com>
Cc: mdern <mdern@yahoo.com>
Subject: Re: [maven-git-commit-id-plugin] Error when some tag in local repo:
  "Unable to f

[2015-11-23 15:53] vbauer commented on #61
I've just tried to use version 2.2.0 and it works fine (sorry, I haven't seen it before).

[2015-11-23 16:14] TheSnoozer commented on #61
Thanks for the feedback :-)
I'll close this finally since it seems to work fine and there are multiple workarounds available :-)

@mdern, Everybody will receive an eMail who subscribed to this issue :-)

[2015-11-23 16:14] #61 closed

[2015-11-25 03:29] diegocos commented on #223
哥，你说的这个"useNativeGit" = true. 是在哪个文件里面配置的啊？求教~~

[2015-11-25 03:33] diegocos commented on #223
我用的sbt，不知道该在什么位置配置呢？

[2015-11-25 13:44] bademux commented on #222
the absurd is here:
*C:\Users\<uaserName>\.gitconfig*:
[code]
looks like it was added by some software.

Summarizing:
 it isn't problem of *maven-git-commit-id-plugin* ... and isn't strictly JGit's bug, but problem with error reporting.
What do you think about it?

[2015-11-25 16:37] TheSnoozer commented on #223
Hi @diegocos,
Unfortunately I can't speak chinese. What I understood from google translater is that you are struggeling to configure the plugin. Here is an example configuration of the plugin:

[code]

Hope it helps.

[2015-11-28 09:31] lecchi opened #226 "Can't use ${git.commit.id.abbrev} in the pom.xml"
When I using maven-git-commit-id-plugin,I want use ${git.commit.id.abbrev} in my pom.xml.
The code is looks like thie:
![pom](https://cloud.githubusercontent.com/assets/16056880/11451180/04658092-95f7-11e5-83a6-c5df807ff7a0.png)

The name of war is "xxx-0.0.1-${git.commit.id.abbrev}-20151126222413.war".
You can see,the value of ${git.commit.id.abbrev} is not replaced.
But it had been replaced in t

[2015-11-29 10:25] TheSnoozer commented on #226
Hi @lecchi,
what you need to set is
[code]
This property is set to ```false``` by default.
The reason for this can be found in https://github.com/ktoso/maven-git-commit-id-plugin/pull/65 and https://github.com/ktoso/maven-git-commit-id-plugin/issues/108.

Hope this helps. Please let me know if you have further questions regarding this issue.

Thanks,

[2015-11-29 12:22] lecchi commented on #226
Hi @TheSnoozer ,
It can help me,Thank you so much!
=.=

[2015-11-29 12:22] #226 closed

[2015-11-30 15:51] TheSnoozer commented on #226
Hi @lecchi,
nice. great to hear that this solved the problem :-)

[2015-12-01 17:24] ktoso opened #228 "Modularize plugin allowing lein / gradle / sbt usages of it as a library"

[2015-12-02 00:55] julianhyde commented on #63
Thanks @rmetzger - your workaround worked for me.

[2015-12-07 22:40] bluestix opened #230 "Slf4j Misuse"
Why does your jar have a StaticLoggerBinder in it?

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/hugballs/.m2/repository/pl/project13/maven/git-commit-id-plugin/2.2.0/git-commit-id-plugin-2.2.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/hugeballs/.m2/repository/org/apache/logging/log4j/log4j-slf4j-impl/2.4.1/

[2015-12-08 20:18] TheSnoozer commented on #230
The reason why we have the SLF4J-StaticLoggerBinder in the jar is because Maven screwed up the class loading. See #198 and https://issues.apache.org/jira/browse/MNG-5787

What version of Maven you are using?
Could you provide an example how we could reproduce the Problem?

[2015-12-21 21:38] jwils commented on #226
There was a pretty big change from version 2.1.12 -> 2.1.13 where the default changed from true to false. 10c338f3fea963692d8fe0228cde25a64caa0517. Would be good to document it more clearly.

[2015-12-21 21:43] TheSnoozer commented on #226
Well this
https://github.com/ktoso/maven-git-commit-id-plugin/issues/226#issuecomment-160397485
is from the readme. Where else should we put it?

[2015-12-22 00:25] jwils commented on #226
For me it doesn't inject it into the current project anymore either. Is this intended? If so, the wording confused me a bit, but maybe that's just me.

It might also be good to note somewhere that version 2.1.13 made a backwards incompatible change. It took me a while to figure out what the problem was.

[2015-12-26 07:57] winters1224 commented on #223
@diegocos 是在项目的pom.xml里，plugin里。TheSnoozer贴的配置里已经很清楚了。

@TheSnoozer Thanks. he means "which file could I config the '"useNativeGit" = true'?".  You have answered exactly.

[2015-12-28 15:37] autayeu commented on #214
An option: piggyback on Google Code Style, for example just by referring "Source code is formatted following Google Code Style for Java: https://google.github.io/styleguide/javaguide.html

Google Code Style for Java can be imported into IDEA and into Eclipse. These two IDEs cover many developers.

[2015-12-28 15:40] ktoso commented on #214
I mean an automated formatter. We can agree and it'll work for the 2-3 of us, however this project has a vast number of contributors, which come in with their styles.

The formatting should be automated - would you be able to pull that in as part of the build @autayeu? Thanks.

[2016-01-01 23:54] autayeu commented on #214
Perhaps automated formatting could be approached as a two-step process: a check and a reference to a well-known style guide. For example, CheckStyle can alert the developer responsible for the change and that developer can then fix the formatting using developer's favorite method according to the style guide. Then, a well-known style guide most likely has settings for most popular IDEs ;) and ever

[2016-01-03 20:54] autayeu opened #234 "Inconsistency in dirty state"
Got this in build logs:
[code]

First and last lines seem to be inconsistent...

[2016-01-05 14:22] mvitz commented on #234
Above the first log output is a comment
[code]

The value of git.dirty is calculated by calling:
[code]

I'm not sure what do there, but it seams copying the logic from the first dirty state calculation
[code]
to the second should be the right thing to do?

[2016-01-05 19:13] autayeu commented on #234
Perhaps in addition to synchronizing two ways so that they agree one way or another, a nice extra would be to report untracked files explicitly. Just presence flag or maybe even a list. Untracked files might influence build if the build is not written carefully.

[2016-01-07 00:44] ktoso commented on #234
As a first step let's make them consistent – would you like to submit a PR fixing this issue @autayeu?
Seems like making the latter into a static utility method and reuse it would make the most sense here AFAICS, unless I understood the state of your repo wrong.

[2016-01-07 11:15] mvitz commented on #234
I started to implement this but found another problem:

I expect the jGit and native Git implementation to behave identical.

If I have an untracked file present and use the plugin the following output is presented:
__jGit__
[code]

__native__
[code]

If I a modified file:

__jGit__
[code]

__native__
[code]

Therefore the native Git implementation of describe (or isDirty) must be changed as well.

[2016-01-07 19:07] autayeu commented on #234
Consistency sounds great!

Expected: To me expected would be "dirty" in the presence of untracked files. But maybe native git implementation has a reason. Does anyone know it? It would be nice to know it. And maybe report untracked files separately in case there is a good reason to consider the repo "clean" with untracked files just like native git implementation does.

[2016-01-08 10:19] mvitz commented on #234
Tried to find something, and found #47 ;-)

[2016-01-13 10:35] salyh opened #235 "Commit hash is not correct when used with maven-release-plugin"
maven-git-commit-id-plugin (2.2.0) determine wrong commit (548df55) when used with maven-release-plugin. It should point to 6e8a477.

<pre>
[maven-release-plugin] prepare for next development iteration
Commit:
548df55e32bea673970071bf57b21b9e763e5208 [548df55]

[maven-release-plugin] prepare release v0.0.26
Commit:
6e8a477e3a35cf7d7fbd55ec602587e1fb18195d [6e8a477]
</pre>

[2016-01-13 10:56] g1franc commented on #230
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/tools/maven/repository/pl/project13/maven/git-commit-id-plugin/2.2.0/git-commit-id-plugin-2.2.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/C:/tools/maven/repository/org/slf4j/slf4j-simple/1.7.12/slf4j-simple-1.7.12.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See

[2016-01-13 10:57] g1franc commented on #230
Maven version is 2.2.1

[2016-01-13 15:06] Puccet opened #236 "git.dirty return always true (useNativeGit=true)"
I'm experiencing a strange bug, the git.dirty property is always true no matter what the real git status is

Apache Maven 3.3.1 (cab6659f9874fa96462afef40fcf6bc033d58c1c; 2015-03-13T21:10:27+01:00)
Maven home: /usr/local/apache-maven
Java version: 1.8.0_66, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_66.jdk/Contents/Home/jre
Default locale: it_IT, platform enco

[2016-01-13 19:34] autayeu commented on #230
#233 might solve this by removing SLF4J altogether.

[2016-01-19 10:01] coladict commented on #236
Does it still do it if you don't have `<useNativeGit>true</useNativeGit>` (using default jgit)? I use the default setting for that and it detects it properly.

[2016-01-19 10:16] Puccet commented on #236
It does if i use <useNativeGit>false</useNativeGit> if I use it to "true" there's an inconsistency because it report the state dirty but the resulting name is not reporting it (no -dirty is appended to the tag name), please consider this was tested in a just cloned folder so it's really annoying due to fact that it prevents to use any automation.

during the build the target folder and a git.prope

[2016-01-19 10:44] coladict commented on #236
Then, essentially this is the same as issue #234. Half of your problem can be solved by using jgit, the other half using `<generateGitPropertiesFilename>${project.build.outputDirectory}/git.properties</generateGitPropertiesFilename>`. This is a better way to generate the file than the one suggested, without adding more to your `.gitignore`. I'll make the change in the documents for it and do a PR.

[2016-01-19 13:14] Puccet commented on #236
Hi thanks very much for the answer but honestly did understood it completely, I was assuming jgit is used when `<useNativeGit>false</useNativeGit>` is set, but in this case it report the status as dirty anyway,
using `<generateGitPropertiesFilename>${project.build.outputDirectory}/git.properties</generateGitPropertiesFilename>` is awkward because the file is used also during debug not only at buil

[2016-03-06 10:56] missedone opened #239 "why ${git.branch} returns git commit id?"
hi folks

i'm using maven-git-commit-id-plugin 2.2.0 release.

i have the [git.properties](https://github.com/cbeust/testng-eclipse/blob/master/testng-eclipse-plugin/src/main/resources/git.properties) as below:
[code]

but the output `git.branch` has the same value as `git.commit.id`:
[code]

is it be designed? it looks to me is a bug that i expect `git.branch` returns branch name like `master`

[2016-03-06 10:57] ktoso commented on #239
What does native git say for that state of the repo?
`git branch` will return a SHA if it's detached from any branch ("detached head state"), in which case the above is valid.

[2016-03-06 11:04] missedone commented on #239
right, that make sense then,

i got the git.branch as commit id in the travis-ci build which use the detached mode.
i just double checked on my local, it have the correct git.branch value.

[2016-03-06 11:04] #239 closed

[2016-03-06 11:05] ktoso commented on #239
Thanks for checking :-)
Happy hakking!

[2016-03-22 02:20] damnhandy opened #240 "Passwords exposed with git.remote.origin.url when HTTPS URIs are userd"
In my `pom.xml` I have the following defined in my SCM config:

    <properties>
        <project.scm.id>my-git-id</project.scm.id>
    </properties>

    <url>https://myprivate.git.host/gitrepo</url>
    <scm>
        <url>https://myprivate.git.host/gitrepo.git</url>
        <connection>scm:git:https://myprivate.git.host/gitrepo.git</connection>
        <developerConnection>scm:git:https://mypriv

[2016-03-26 15:18] damnhandy commented on #240
I have also created a test case that demonstrates the issue under 2.2.0 here:

https://github.com/damnhandy/maven-publish-issue

You'll need Docker Compose to run it, but clearly demonstrates the issue. The underlying cause is likely the Maven Release plugin, which apparently includes the credentials in the URI but also manages to temporarily overwrite the origin URI to include the username and pa

[2016-03-26 18:33] ktoso commented on #240
Thanks for noticing this, I'll review now - seems like something we'll want to include and would be enough to cut a release

[2016-03-26 18:41] #240 closed

[2016-03-26 18:46] ktoso commented on #236
A PR with tests would be welcome to resolve this issue, thanks in advance

[2016-03-26 18:47] ktoso commented on #235
I fear this may be simply because "during which phase the plugin is run"... If you'd be able to investigate in which phase we'd be able to get the right id, if possible, that'd be awesome I currently do not have the time to research that

[2016-03-26 18:48] ktoso commented on #230
This is solved by the linked PRs, thanks!

[2016-03-26 18:48] #230 closed

[2016-03-26 18:51] ktoso commented on #216
Resolved by https://github.com/ktoso/maven-git-commit-id-plugin/pull/233

[2016-03-26 18:51] #216 closed

[2016-03-27 09:35] aaime opened #242 "git commit plugin executed 3 times (on a single module build)"
Looking into a build slowdown of our project we found that the git-commit-id-plugin was playing a role in it (it apparently got slower over time) and leveraging the [maven profiler plugin](https://github.com/jcgay/maven-profiler) we noticed that the plugin is apparently run three times in a row (for a single module)? See the report:

[code]

The maven run output being:

[code]

[2016-03-27 09:36] aaime commented on #242
Ah, the plugin is already configured with ``runOnlyOnce=true``

[2016-03-27 15:13] damnhandy commented on #235
I'll dig into this @ktoso since after #240, it clear that the release plugin is doing some weird stuff. It seems to be temporally mucking with the git metadata during the prepare and release process. This bothers me.  The maven-git-commit-id-plugin is simply reading the metadata that is available to the git repo. With #240, it was changing the origin URI to include credentials. I would not be surp

[2016-03-27 16:36] ktoso commented on #235
Thanks a lot for the help!

[2016-03-28 08:43] aaime opened #243 "RunOnlyOnce won't make the commit.id available in other modules"
Experimenting with runOnlyOnce in order to reduce the time spent in the git-commit-id plugin (a significant portion of our build time, compared to its job) I've found out that using ``<runOnlyOnce>true</runOnlyOnce>`` results in the``git.commit.id`` property not being set anymore in the other modules.

Since with a single checkout with no submodules the commit id is one, it would be a great improv

[2016-03-28 08:53] aaime commented on #243
Never mind, found out I have to add ``<injectAllReactorProjects>true</injectAllReactorProjects>``

[2016-03-28 08:53] #243 closed

[2016-03-28 23:37] jbako-gn opened #244 "Exception caught: The template variable 'git.commit.id.abbrev' has no value"
[code]

[code]

Running the docker:build maven target fails with:
Exception caught: The template variable 'git.commit.id.abbrev' has no value

Any tips?

[2016-03-28 23:38] ktoso commented on #244
more details please? Do you have a git repo where you run this?

[2016-03-28 23:42] jbako-gn commented on #244
This is in a git repo - this is from a single pom.xml at the module root.  I'm trying to follow this guide:
https://www.alooma.com/blog/building-dockers

Apparently they reference both plugins in the same pom.xml, but I can't seem to get the latter plugin to resolve the ${git.commit.id.abbrev} properly.  I can see the git.properties created and it has the correct values.  It's just Maven itself do

[2016-03-29 09:31] Puccet commented on #236
I've found [here](https://github.com/ktoso/maven-git-commit-id-plugin/issues/47) that the command

git clean -dfx solve the inconsistency, I've issued the command once and now ti seems to work properly, I'll investigate deeper as soon as I'll have more time.

[2016-03-30 07:20] antofran commented on #24
Hi

We use maven-jgitflow to branch build and tag the code on Jenkins. This means env variables set during checkout by the Jenkins git plugin are not relevant as jgit create a new branch (release) before building. It works perfectly on localhost but not on CI because of this patch.
I probably will introduce a new configuration property to ignore env variables when reading the branch name.

But if

[2016-05-06 21:59] mageddo commented on #226
aw lol, why did it is not true on the README.md example?

[2016-05-13 10:26] ZeliosAriex opened #246 "In TeamCity, the plugin does not generate some fields"
When i run the maven build in TeamCity (continuous integration), it doesnt generate the field `git.closest.tag.commit.count`, but when i do it locally, the field apears

[2016-05-24 10:45] ktoso opened #248 "Support GIT_LOCAL_BRANCH in Jenkins / Hudson"

[2016-05-24 10:45] #248 closed

[2016-05-24 10:48] ktoso commented on #246
Would you be able to provide a bit more info about what env variables are available?
Is it only that field that's missing?

[2016-06-03 06:57] o6l6 opened #249 "maven-git-commit-id-plugin breaks resources and war webResources filtering"
Try running 'mvn package -P dev' and check out the two files in the war: ${db.host} will not have been replaced in either of them. Comment out the git plugin or even just its single <includeOnlyProperty> element and resource filtering works properly once more.
[bug1.zip](https://github.com/ktoso/maven-git-commit-id-plugin/files/297058/bug1.zip)

[Uploading bug1.zip…]()

[2016-06-07 16:59] TheSnoozer commented on #249
Please add ``<injectAllReactorProjects>true</injectAllReactorProjects>`` to the configuration of the maven-git-commit-id-plugin and it should work like a charm.

Thanks,

[2016-06-07 17:29] TheSnoozer commented on #234
This is indeed a simple inconsistency.
First of all the "native" git implementation does not tell you in the first place if the ``Repo is in dirty state [ true/false ]`` this only happens if you run the jgit-Implementation with the describe enabled.

And indeed the dirty check for the jgit differs-slightly:
1) first dirty-message (only printed when someone want's to run the git describe): https://

[2016-06-07 21:26] TheSnoozer commented on #236
RELATED TO:  https://github.com/ktoso/maven-git-commit-id-plugin/issues/234

[2016-06-07 21:43] TheSnoozer commented on #236
I found the actual problem and already fixed it.
The root cause for this was buried in the usage of the ProcessBuilder that is used when we check if the repository is dirty.
In short what happend is that we somehow ended up calling the check for 'git status -s' wrongly and the result of the command was always printing the usage manual. Since for the status we only check if there was a return value

[2016-06-08 10:01] ktoso commented on #236
Great catch, thanks @TheSnoozer !

[2016-06-08 10:02] #234 closed

[2016-06-08 10:02] #236 closed

[2016-06-08 16:46] TheSnoozer commented on #107
I added a note to the readme and based on the discussion I would go ahead and close this issue since there is not much we can do to change the behaviour of internal IDE project builder.

[2016-06-08 16:46] #107 closed

[2016-06-08 17:35] TheSnoozer commented on #215
see: https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475

[2016-06-08 17:39] TheSnoozer commented on #105
Due to inactivity and the latest comments I would assume that is got solved somehow. If it occurs again, please open a new issue.

Thanks for reporting :-)

[2016-06-08 17:39] #105 closed

[2016-06-08 17:49] TheSnoozer opened #252 "Update jgit to the latest Version 4.3.1.201605051710-r"

[2016-06-08 17:57] TheSnoozer commented on #252
would need to check if this solves https://github.com/ktoso/maven-git-commit-id-plugin/issues/222

[2016-06-08 18:13] TheSnoozer commented on #202
Solved by https://github.com/ktoso/maven-git-commit-id-plugin/pull/233

[2016-06-08 18:13] #202 closed

[2016-06-08 21:23] #252 closed

[2016-06-10 21:13] TheSnoozer commented on #242
Mhh this really strange.....all together it seems to be related to the configuration of the `maven-source-plugin`, which currently have two goals `jar` and `test-jar`. When I remove the `test-jar` for example the plugin will only get executed once..will need to dig deeper whats going on here....stay tuned.

[2016-06-10 21:30] TheSnoozer commented on #242
Thanks for reporting. If you feel that there is still a bug in the plugin, let us know :-)

[2016-06-10 21:30] #242 closed

[2016-06-10 21:53] TheSnoozer commented on #244
Hey,
are you only running the `mvn docker:build` command?
AFAIK this would only execute the docker plugin itself and therefore the maven-git-commit-id-plugin never would have had the chance to determine some properties.
I' not sure if you are familiar with maven, but it's based on different execution phases that have a particular order (https://maven.apache.org/guides/introduction/introduction-to-

[2016-06-10 23:58] khrisrichardson commented on #244
@jbako-gn it's worth noting that if your pom packaging type is pom, you'll need to add this to your plugin configuration...

[code]

[2016-06-15 11:32] troinine commented on #138
We have similar issues with other fields thus it would be nice to be able to filter any of the git properties, not just `git.branch`. We use the commit message field and therefore someone can easily end up putting some special characters like double quotes which will fail in our case (Spring Boot app with YAML properties).

[2016-06-17 04:18] slowteetoe commented on #244
@jbako-gn fwiw, I was trying to follow the same guide and ended up here, few things that made a difference for me:
1) use `mvn package docker:build` or `mvn clean package docker:build` for this
2) (not related to this plugin) You can move the image tag to it's own section in the docker-maven-plugin.  This gets rid of the error message and gets you an image at least tagged 'latest' (although not th

[2016-06-28 08:41] ktoso commented on #106
Impl looks good, I've merged #254

[2016-06-28 08:41] #106 closed

[2016-07-02 22:43] phauer opened #256 "Properties in pom are not resolved for maven-install-plugin"
Hi,
I try to use the Git commit hash (and the commit timestamp) as the version number for my built artifact.
`mvn package` works fine. It creates a myapp-20160702-180249.193a613.jar.

However, "mvn install" doesn't seem to resolve the dynamic properties of the git-commit-id-plugin (like ${git.commit.time} and ${git.commit.id.abbrev}). Output:

[code]
<groupId>groupId</groupId>
<artifactId>artifact

[2016-07-02 22:44] ktoso commented on #256
This is explained in the readme:

[code]

[2016-07-02 22:47] phauer commented on #256
Thanks for your response. Unfortunately, this doesn't help. But my project is not a multi-module project anyway.

[2016-07-02 22:50] ktoso commented on #256
Have you played around with phases?
https://github.com/ktoso/maven-git-commit-id-plugin#using-the-plugin (a bit explained there in comments)

[2016-07-03 07:47] phauer commented on #256
I'm not sure, what exactly do you want me to try out. Changing the phase of the revision-goal?

By the way, I'm using version 2.2.1.

[2016-07-03 19:45] TheSnoozer commented on #256
Ad to the configuration of the git plugin the following `<injectAllReactorProjects>true</injectAllReactorProjects>`
Result:
[code]

Also what happens if you set the `finalName`:
[code]

?

[2016-07-03 20:06] phauer commented on #256
Thanks for your response. Unfortunately, setting injectAllReactorProjects and the finalName doesn't help.

[2016-07-11 08:34] #246 closed

[2016-07-14 21:04] aszka commented on #256
I used previous version of plugin, but maybe you should try add part with `<resources></resources>`. It helps me.

[code]

[2016-07-15 06:48] phauer commented on #256
Hi aszka,
adding `<resources>` doesn't help either. Can nobody reproduce my problem?
I created a little project to demonstrate the issue. Checkout this project:
https://github.com/phauer/blog-related/tree/createJar/versioning-continuous-delivery
and call `mvn install`.

[2016-07-25 13:27] Nicolai82 opened #257 "Does not work with new Maven versions"
When using this plugin with Maven version 3.2.1, I get this error message:

Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.2.1:revision (get-the-git-infos) on project testproject: The plugin pl.project13.maven:git-commit-id-plugin:2.2.1 requires Maven version [3.1.1,)

EDIT: Works with the latest version (3.3.9)

[2016-07-25 13:35] #257 closed

[2016-07-25 13:36] ktoso commented on #257
Cool, must have been something weird in Maven. Thanks for reporting nevertheless

[2016-07-28 07:35] kdoteu commented on #136
We need this for our model repo. We have a multi module project with all necessary model modules we need across our projects. At this point we are using the lattest commit id of the repo. But to improve the quality an speed it would be a nice improvment to have the direct commit id of the module itself.

[2016-07-28 07:59] ktoso commented on #136
Would love to accept a contribution of such feature, you can start out by writing a test and take it from there though the Mojo class.
Currently not able time wise to work on it.

Thanks in advance!

[2016-08-04 17:07] TheSnoozer commented on #256
The build log seems to indicates the issue here:
[code]

Change the ``<version>${version.number}</version>`` to a constant like ``<version>1.0-SNAPSHOT</version>``, add the config ``<injectAllReactorProjects>true</injectAllReactorProjects>`` to the git plugin and define the final name of the jar / war with the finalName-Tag within the build-Tag.

[code]

Can't build this specific project since I d

[2016-08-04 17:08] TheSnoozer commented on #249
Assuming issue was resolved.

[2016-08-04 17:08] #249 closed

[2016-08-05 06:47] n0c1ip opened #258 "Error when URI contains domain (backward slash)."
When I build project localy everything works fine, but when its builds on TeamCity server I get error like: `Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.2.1:revision (get-the-git-infos) on project ProjectName: Could not complete Mojo execution...`, then I switch to verbose mode and figured out, that it happend when plugin try parse `git.remote.origin.url` from .git/config. In

[2016-08-05 07:05] mvitz commented on #258
According to https://tools.ietf.org/html/rfc3986#section-3 a URI is constructed as:
[code]

The used `\\` therefore is in the `hier-part` and there in the `authority path-abempty` part. authority is defined as ```authority   = [ userinfo "@" ] host [ ":" port ]``` (see https://tools.ietf.org/html/rfc3986#section-3-2).

Therefore the `\\` belongs to the userinfo part (because it's before the `@`) w

[2016-08-05 21:24] phauer commented on #256
Hi TheSnoozer, thanks for your help and feedback!
Unfortunately, this doesn't work for me. I changed my playground branch according to your advise:
https://github.com/phauer/blog-related/tree/createJar/versioning-continuous-delivery (you don't need docker to call mvn install on this branch).

The point is that I can specify the jar name with `<finalName>`, but when it comes to installing the jar t

[2016-08-15 10:36] plopezlpz commented on #90
I have experienced this issue. The problem happens when the last commit message is too long (has too many lines, 44 lines in my case), this can happen when there are many merge conflicts.

The stack trace looks like this:
[code]
Debugging this I found out the problem was when trying to run this git command: `git log -1 --pretty=format:%B`
Running it on the terminal I see when there are too many li

[2016-08-15 10:54] ktoso commented on #90
I don't think that's the reason.
Console apps know if it's an interactive shell or not, and will *not* wait for user input when called from a non-interactive shell - like we do in this plugin.

[2016-08-15 10:55] ktoso commented on #90
To confirm my statement:

[code]

[2016-08-15 11:17] plopezlpz commented on #90
maybe it is something with my git configuration, anyway the workaround worked for me

[2016-08-26 19:48] roytmana opened #259 "Project erroneously marked as dirty when using jdit but clean with native git"
I am using build-helper-maven-plugin to enforce version/tag match and have it failing because for some reason `git-commit-id-plugin:2.2.1` thinks the project is dirty

git status gives all clean:

On branch master
Your branch is ahead of 'origin/master' by 2 commits.
  (use "git push" to publish your local commits)
nothing to commit, working directory clean

and git describe clean too:

git descri

[2016-08-28 23:19] TheSnoozer commented on #256
Hi,
I actually tried to get it working but it seems that the maven-install-plugin does not want to take the properties into account.
After some digging I found this which basically is the same issue as you have or would like to get solved:
https://issues.apache.org/jira/browse/MINSTALL-1

In short: maven-install-plugin will not take finalName into account!
Also applying the version number via comm

[2016-08-28 23:19] #256 closed

[2016-08-28 23:25] TheSnoozer commented on #258
@mvitz,
thank you very much for this valuable feedback!
Is there something we need to fix inside the plugin?

Maybe not failing when URL extraction is not working properly?
In this case how should we handle invalid URLs?

I would say in general a better error message would be handsome...

[2016-08-28 23:27] TheSnoozer commented on #222
Can you test this with the latest git-commit-id-plugin-Version?

[code]

[2016-08-28 23:34] TheSnoozer commented on #259
Hi,
can you try if the issue is still present when you use the latest SNAPSHOT version from the repository.

Fixed two related issues that are not public right now:

https://github.com/ktoso/maven-git-commit-id-plugin/issues/234
https://github.com/ktoso/maven-git-commit-id-plugin/issues/236

If this fixes it; we should prepare a release.

Thanks,

[2016-08-28 23:38] TheSnoozer commented on #199
I don't see a point anymore why we should keep the SLFJ on that list.
We fixed that with
https://github.com/ktoso/maven-git-commit-id-plugin/issues/230 / https://github.com/ktoso/maven-git-commit-id-plugin/pull/233

[2016-08-30 14:08] roytmana commented on #259
Hi @TheSnoozer,

Is SNAPSHOT available in any maven repo I need to build from source and install locally?
If available from a repo, please let me know which repo and the version 2.2.2-SNAPSHOT?

Thanks
alex

[2016-09-02 12:25] nielsbasjes opened #260 "git.properties not written if only the build time changes"
When creating the git.properties file I see this line after doing a mvn package
[code]
Now I run mvn package again and I see this in the output:
[code]
followed by
[code]
and as a consequence the git.properties file is not updated.

I want to make sure the git.properties file is update on every 'mvn package' even if nothing in the project has changed.

I had a quick look at the current code and fo

[2016-09-03 19:57] TheSnoozer commented on #259
Please try to build from source and install locally.

Thanks,

[2016-09-03 20:06] TheSnoozer commented on #260
Hi,
understood the problem.
As far as I can remember the main reason why the "time" is not considered as a change is due to
https://github.com/ktoso/maven-git-commit-id-plugin/issues/151
and related issues. When introducing this switch, users of the plugin may be left alone with an endless build loop in Eclipse - not good at all ;-)

Why not use ``mvn **clean** package``?
Would including the nativ

[2016-09-04 07:40] nielsbasjes commented on #260
I'm working on a web servlet, when I change the code and do restart from intellij I added this build time flag to my html so I can see the changed code actually was loaded.

Given this feature I (which I didn't know of) it sounds like the build time can be removed from this git plugin completely (with the addition of a bit of documentation).
I have to try it out to see what happens.

[2016-09-04 11:32] TheSnoozer commented on #260
I would add this specific case to the documentation instead of removing the build time from the plugin. Removing may break compatibility with users who read the property.

When using ``mvn clean package`` there should be no problem.

[2016-09-04 11:42] nielsbasjes commented on #260
Yesterday I found this rather 'evil' workaround https://github.com/nielsbasjes/yauaa/blob/master/webapp/pom.xml#L78

So I wrote a workaround to work around the workaround you wrote to avoid a bug in Eclipse ...

[2016-09-05 15:02] #260 closed

[2016-09-06 03:27] roytmana commented on #259
same with 2.2.2-SNAPSHOT that I just downloaded
can I email you gist of maven output privately so I do not have to sanitize it?

[2016-09-09 17:13] TheSnoozer commented on #259
Sure.
Mail it to me via:
s(dot)lange(at)mail(dot)alumni(dot)tu-berlin(dot)de

[2016-09-30 10:40] Enigo opened #262 "Wrong version of git.commit.id.describe"
We use 2.2.0 plugin version with "generateGitPropertiesFile" property set to "true" and recently faced a really weird situation. I'll do my best to describe it correctly.
The main problem is that git.commit.id.describe field is wrong in generated properties file. I can tell that because "git describe" command returns different version, e.g.
git describe --> 16.2.1.1-SNAPSHOT
but in file:

[code]

[2016-10-03 14:47] TheSnoozer commented on #262
What is the output of `git describe --long`?
Is `useNativeGit` set in the pom?

[2016-10-04 06:58] Enigo commented on #262
Here is the configuration:

And here is the output:
`$ git describe --long` ---> 16.2.1.1-SNAPSHOT-165-g1bea26a

[2016-10-05 20:17] TheSnoozer commented on #262
Could you also run `git describe --long --tags` for me please?

I'm assuming you are currently running in the situation that is outlined in the readme in the section `git-describe and a small "gotcha" with tags`.

Change your config with the following:
[code]

and let me know if this changes the situation.

[2016-10-06 07:10] Enigo commented on #262
`$ git describe --long --tags` returns the same 16.2.1.1-SNAPSHOT-165-g1bea26a

Configuration change has not affected the generated file.

Dunno if it's relevant but we use Git v.1.9.5

[2016-10-06 21:07] TheSnoozer commented on #262
On the Jenkins do you perform a shallow clone or a full clone of the repo?
Also speaking of `We perform project releases via Jenkins` I'm not sure if this could be related to the following issue:
https://github.com/ktoso/maven-git-commit-id-plugin/issues/235

Does usage of native git change the situation?
[code]

can you send me the output of
`git log --date-order --graph --tags --simplify-by-deco

[2016-10-07 14:09] Enigo commented on #262
I didn't find the Jenkins clone settings so I  assume the default behaviour is used.

Yes, with `<useNativeGit>true</useNativeGit>` the `git.commit.id.describe` is correct (the same as `git describe`) --> 16.2.1.1-SNAPSHOT-165-g1bea26a

`git log --date-order --graph --tags --simplify-by-decoration --pretty=format:'%ai %h %d'` output:
[code]

The reproduction steps seems to be correct, although the

[2016-10-07 22:36] TheSnoozer commented on #262
So far I was not able to reproduce the situation.
TL;DR;
I have created a bash script that creates a git repository that looks like your's when executing the command I forwarded.

Bash-Skript:
[code]

This is how `git log --date-order --graph --tags --simplify-by-decoration --pretty=format:'%ai %h %d'` looks:
[code]

my current pom to run the test with the  2.2.0 plugin looks like
[code]

When I'm

[2016-10-07 22:39] TheSnoozer commented on #262
What be be also worth trying:
Use latest version from central:
https://search.maven.org/#artifactdetails%7Cpl.project13.maven%7Cgit-commit-id-plugin%7C2.2.1%7Cmaven-plugin

[code]
and try clone the (git) repository and build the latest 2.2.2-SNAPSHOT version and see if the issue is still present....

[2016-10-12 15:01] Enigo commented on #262
Wow, that looks really cool)
Unfortunately, the latest plugin version hasn't affected the situation.
And reproduction steps seems valid. But anyway even if I use configs (`maven-antrun-plugin` included) from your post I get wrong version.
BTW I just notice, that the
`git.commit.id.describe=16.1.1.2-SNAPSHOT-194-g1bea26a-**dirty**`
has that **dirty** at the end. But when I run `git describe ` there

[2016-11-15 16:15] muchino opened #264 "Multi project - git.properties got overwritten"
I have several "independent" projects.
The only same part is the shared parent pom, where I configured your cool maven plugin in this way attached below.

my issue is now, that my project depends on a library, where I use the same parent.
In the first moment of the build the git.properties file is correct, after some seconds it's gotten replaced by the git file from the dependency.

Any idea why t

[2016-11-18 13:09] rreitmann commented on #130
IMHO writing *.properties with UTF-8 is not correct since Java expects *.properties to be encoded in ISO-8859-1 (see http://docs.oracle.com/javase/7/docs/api/java/util/Properties.html#load(java.io.InputStream))

We use spring-boot which uses your plugin to generate a git.properties and expose its contents through a REST endpoint. It reads the git.properties expecting ISO-8859-1.

[2016-11-18 13:13] ktoso commented on #130
A bit sad that spring is not UTF-8 aware, but oh well...
Happy to accept configuration option in a PR if you'd like to contribute.

[2016-11-18 13:40] ktoso commented on #130
I also think there's to separate things here.
For one thing, JSON is (spec: https://tools.ietf.org/html/rfc7159 ) required to be UTF so the git.json file definitely must be UTF,
properties we can think about I guess.

[2016-11-18 13:56] rreitmann commented on #130
Agreed, IMHO JSON **should** be UTF-8 whereas .properties **must** be ISO-8859-1

[2016-11-18 16:43] ktoso commented on #130
Happy to accept a PR adding a setting for it.

[2016-11-22 13:18] goranmagdic commented on #185
Hi,

I find plugin very slow in my case and I only need commit.id information, so I assume it would be much faster if it did not parse the whole tag history. is there maybe something already that I am missing?

[2016-11-22 13:38] TheSnoozer commented on #185
Can you elaborate further on what "slow" means for you?
Can you paste your full configuration here?
Are you doing a shallow clone or full clone of the git repository?
Have you tried the native git implementation?

[2016-11-22 13:39] TheSnoozer commented on #264
can you provide a sample project where we can test this?
That would help a ton for debugging....

[2016-11-22 13:48] goranmagdic commented on #185
Just counting while maven is stuck on plugin I got to 9 sec. That is for one module.
I can paste plugin configuration, not the whole project:
`<plugin>
			<groupId>pl.project13.maven</groupId>
			<artifactId>git-commit-id-plugin</artifactId>
			<version>2.2.1</version>
			<executions>
				<execution>
					<id>get-the-git-infos</id>
					<goals>
						<goal>revision</goal>
					</goals>
				</execu

[2016-11-22 14:03] TheSnoozer commented on #185
just for clarification:
by referring to 9 seconds it takes only the git plugin a total of 9 seconds to determine the all the properties, or is this referring to the whole build cycle? How are you measuring the 9 VS 6 seconds?
Are you using a profiler like https://github.com/takari/maven-profiler or https://github.com/jcgay/maven-profiler?

How many commit are in your repository? (`git rev-list --a

[2016-11-22 14:17] goranmagdic commented on #185
9 seconds is  just for a plugin, (so the full build is ~19 vs ~16 sec)
I did not use profiler, I just counted seconds myself. Looking at maven output at one point it stops on

[code]
And then I just count 1, 2, 3, in my head :), it is not very reliable method, but gives you approximate value (or order of magnitude).
Number of commits might be a problem:
$ git rev-list --all --count
139011
The prob

[2016-11-22 15:20] micw opened #265 "Feature request: Pretty-Print json"
It would be cool, if the json would be more human readable (aka pretty printed). I use to have a version.json in my dists, that is read automatically - so it could be easily read by humans as well.

[2016-11-22 15:21] ktoso commented on #265
Should not be hard to implement, I'd suggest you'd try doing a PR which implements this - WDYT?
Happy to accept if such PR comes in.

[2016-11-22 17:20] muchino commented on #264
I have to check. The issue with example project: it seems to be a time related issue, because in some repositories there is no issue with the same config and more strange: it depend whos compiling it on which machine. the issue can come and gone :/

I will see to find some time for an example project - but it will be hard for me too ;)

[2016-11-23 08:02] micw commented on #265
Here you go. Sorry, my eclipse re-ordered the imports, the actual change is just one line.

[2016-12-08 10:39] ktoso commented on #265
Cool, thanks!

[2016-12-08 10:39] #265 closed

[2016-12-08 10:40] micw commented on #265
Thank you for merge. I'd be happy to see a new release with this feature ;)

[2016-12-14 17:16] vorburger opened #268 "System user property to skip?"
It would be nice to have if this Maven plugin had a -D user system property to skip its execution...

I realize that you can use the following in a POM, but can't see how to do this from CLI w.o. changing code:

[code]

As far as I understand Maven, support for being able to do something like `mvn -Dmaven.gitcommitid.skip=true package` would have to be coded into the Mojo (although I may be wrong)

[2016-12-14 17:21] vorburger opened #269 "M2E Lifecycle Mapping default <runOnIncremental>true not a good idea"
Hello, thanks for this cool Maven plugin!

It's great and very useful - but slows down workspace builds in Eclipse.. scanning non-trivial git repos has a price, and I'm not sure doing that at every incremental build is such a good idea.. how about changing the [runOnIncremental in lifecycle-mapping-metadata.xml](https://github.com/ktoso/maven-git-commit-id-plugin/blob/master/src/main/resources/MET

[2016-12-14 17:23] ktoso commented on #268
If that's implemented this way by these other plugins it seems we should do it too.
Would you be able to send in a PR?

The plugin is not very actively developed by myself, however I'm happy to review/merge/and release if you'd provide a PR for this.

[2016-12-30 06:21] mkrivan opened #270 "UTF-8 characters in properties file format generates issue in filtered resources"
I am just started to use your plugin for generating git info properties but I had some problems because of non ascii characters used in git comments. Example: git.commit.user.name=Kriván Miklós

The generated git.properties file I have planned to use for filtering one resource file called release.html. Everything works perfect except the non ascii characters (encoded in UTF-8) appears after insert

[2016-12-30 09:18] mkrivan commented on #270
I did some more experiments with this plugin. The problem only occurs when I create the git.properties file with the plugin and I use it for filtering resources. If I just use the default generateGitPropertiesFile = false parameter the property values appears in the right form in the filtered resources. I also have downloaded the plugin git master branch and I have tried something. Now I see where

[2016-12-30 16:43] mkrivan commented on #270
I have created a fork and created a pull request with my suggestion.

[2016-12-30 16:43] ktoso commented on #270
Cool, thanks for the PR. I'll have a look soon.

--
Konrad 'ktoso’ Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>
<http://java.pl/>java.pl / geecon.org / krakowscala.pl / lambdakrk.pl /
sckrk.com

On 30 December 2016 at 17:43:26, Miklós Kriván (notifications@github.com)
wrote:

I have created a fork and created a pull request with my suggestion.

—
You are receiving this because

[2017-01-02 23:38] TheSnoozer commented on #268
Should be super easy to add this.
maven-surefire-plugin has this option:
https://maven.apache.org/surefire/maven-surefire-plugin/examples/skipping-test.html

Magic is hidden here:
https://github.com/apache/maven-surefire/blob/master/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/AbstractSurefireMojo.java#L152

Based on https://maven.apache.org/guides/plugin/guide-java-plugin-

[2017-01-02 23:54] TheSnoozer commented on #269
Hi,
thanks for your valuable feedback!
Based on https://wiki.eclipse.org/M2E_compatible_maven_plugins the runOnIncremental is the following:

Currently I think the maven-git-commit-id-plugin should be executed with full and incremental builds as well. My reasoning behind this is that with my favorite environment the full build will only be triggered when asked for. Thus let's just imagine I have a

[2017-01-03 00:14] TheSnoozer commented on #264
Any luck to reproduce?

[2017-01-04 18:03] mkrivan commented on #270
Dear Konrad, is that possible that there are some project test cases which only successful on linux and not on windows? the special character handling always fail even if I run chcp 65001 on windows. What can be wrong? What should I do different on windows 10? Now I am continue to work in bash on windows 10. In this case the test cases run smooth. Thx for your suggestion.

[2017-01-06 11:27] mkrivan commented on #270
I have found a solution for "Unable to delete sandbox" :-) it was a jGit issue on Windows when objects are packed in repository. Just a small thing. No i have only one more issue with the dirty flag. It is a bit strange it looks jGit and native Git (of course on Windows only) behaves differently.

So I do more work on this. I would like to understand a little bit what is this.

Would you help to e

[2017-01-06 11:55] ktoso commented on #270
dirty means files added to the index were modified. it's the state you're in if status shows you have changes.

[2017-01-06 11:55] mkrivan commented on #270
Ok I see the dirty status using command line execution. It looks that something is strange when running the code on Windows of course. The native git case shows dirty when it is not dirty. I will continue to search for the explanation :-)

[2017-01-06 11:56] mkrivan commented on #270
Thx for the feedback we just typed at the same time :-)

[2017-01-07 11:51] mkrivan commented on #270
I did it. Everything works perfect from Windows as well. I have created test case for the properties file as well. Both the nativeGit and jGir works. Also I have tested from Linux.

Should I need to create a new pull request or it is enough that I have pushed onto my fork?
Thx. for your help.

[2017-01-07 12:04] mkrivan commented on #220
See my contribution at issue #270 I think it answers to this issue as well.

[2017-01-11 16:02] adamzovits commented on #19
I have encountered this issue today, running version 2.2.0, but it was solved simply by re-running without any changes :)

[2017-01-13 10:47] uportalis opened #272 "Where is 2.2.2 ?"
Hi

The README says that the latest released version is 2.2.1.
The usage example uses 2.2.1 but also contains parameters introduced in 2.2.2.

Moreover, it looks like some people are using 2.2.2 but I can't find it on Maven Central nor on Sonatype repository (where the snapshot versions should be according to the README).

Can you please clarify if 2.2.2 can be downloaded already or still is a wor

[2017-01-13 10:54] ktoso commented on #272
Released *now*, thanks for the ping.

[2017-01-13 10:54] #272 closed

[2017-01-29 19:45] electrum opened #273 "Plugin takes 10-20x longer in submodules"
We use the plugin in [Presto](https://github.com/prestodb/presto) which is a multi-module Maven project with a single Git repository. The plugin is very fast for the root module (~100ms) but takes 1-2 seconds in submodules.

If this is due to walking the directory hierarchy to find find the `.git` directory (seems unlikely since all modules are in the root directory), we'd be fine with explicitly

[2017-01-30 01:14] ktoso commented on #273
Please provide a reproducer of profile the plugin :-)
Help us, help you.

PR also welcome if you would have the time, thanks!

[2017-01-30 02:01] electrum commented on #273
How can I help reproduce? You can reproduce by cloning the Presto project and running the Maven command I showed.

[2017-02-01 19:36] electrum commented on #273
It looks like the plugin doesn't do anything for the root module (probably due to packaging being `pom`). So that explains why it's so much faster.

[2017-02-01 19:36] #273 closed

[2017-02-22 16:50] sshcherbakov opened #274 "URISyntaxException: Illegal character in scheme name at index 0: [git@..."
Im getting the following exception when building using git-commit-id-plugin version 2.2.2:
[code]
The error message:
[code]
Exactly same project builds completely fine with the plugin version 2.1.15:
[code]

Please note, that the git URI `[git@mygithost:10022]:my-group/my-sample-project.git` is fully valid and works well from my git console. I also probably cannot omit the square bracket in the UR

[2017-02-24 08:48] HereThereBeMonsters opened #275 "No properties exposed to Maven build when generating properties file ?"
Thanks for that great plugin!

I am using it to generate a properties file using the `generateGitPropertiesFile` option set to `true`.

However I also would like to have access to the properties in the rest of my build process, in order to include the git tag in some final artifacts name for example with the shade plugin :

[code]
However it seems that when the Git plugin is generated the properti

[2017-02-24 12:01] mkrivan commented on #275
Dear Pier try with the master branch. Approx month ago i made contribution
for this among some small others and it is already merged.

Pierre Henry <notifications@github.com> ezt írta (időpont: 2017. febr. 24.,
Pén 9:48):

[2017-03-13 09:19] nielsbasjes opened #276 "Validation feature fails over missing default constructor"
I put the following in my pom.xml

[code]

When I build I get this error:

The underlying error is:

The fix in my situation was really simple: Add a default constructor.
I'll put up a pull request.

[2017-03-13 09:21] nielsbasjes commented on #276
Note: I'm using Maven 3.3.9 on Ubuntu 16.04 LTS

[2017-03-13 09:22] #276 closed

[2017-03-16 09:25] #268 closed

[2017-03-16 20:05] shague commented on #268
This is great, was just looking for something like this. Any idea when the 2.2.3 version will be released to Maven Central?

[2017-03-21 22:48] emeraldjava opened #279 "Heroku - .git directory is not found! Please specify a valid [dotGitDirectory] in your pom.xml"
Hi,

I plugged in the 'git-commit-id-plugin' and it works perfectly on a local build. The pom config is

`<build>
		<plugins>
			<plugin>
				<groupId>org.springframework.boot</groupId>
				<artifactId>spring-boot-maven-plugin</artifactId>
				<executions>
					<execution>
						<goals>
							<goal>build-info</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
			<plugin>
				<

[2017-03-31 02:51] ttamirt commented on #270
I'm using v2.2.2 of the plugin, but it doesn't display unicode characters properly. I'm using Jenkins on centos to build my project. Is there any settings or configuration that I'm missing?

[2017-04-06 14:16] cgoeller commented on #270
@ktoso Could you please release a new version which inludes the changes from mkrivan?
It seems the version 2.2.2 does not include the pull request

[2017-04-06 15:10] ktoso commented on #270
Well l since it isn't merged it's not in a release, correct :-)
I'll try to get to it soon, but in the middle of moving between continents so a bit chaotic on my end.

[2017-04-07 14:19] theHilikus opened #280 "How to define Implementation-Version in Manifest"
Is there any way to set Implementation-Version in the manifest using the maven-shade-plugin's ManifestResourceTransformer? this is what i'm trying

[code]

But `${git.commit.id.describe}` is not resolved, i get the literal string in the manifest
If I reference ${project.version} instead it works as expected. Is there any way to accomplish this?

Thank you

[2017-04-14 01:20] athrunsun commented on #215
@qboileau @TheSnoozer Now it is 2017 and git comes to version 2.12.x, but I am still having issue with git-commit-id-plugin:2.2.2, that when I tried to build a maven project under a git worktree, it gave me:
[code]

Could you help me please?

[2017-04-17 19:09] stdunbar commented on #259
I'm still seeing this issue with 2.2.2.  Does this have anything to do with what is in .gitignore?

[2017-05-02 06:24] athrunsun commented on #279
Are you working on your code in a separate worktree created by `git worktree add` command? Unfortunately this plugin doesn't support git worktree yet. But we have an option to skip execution of it, see [here](https://github.com/ktoso/maven-git-commit-id-plugin/issues/268).

[2017-05-03 04:03] gembin commented on #275
[code]

But the file is written to a wrong path

[code]

[2017-05-04 08:58] prayagupd opened #283 "does not create git.properties for .git in a different location"
I have a project structure as below,

[code]

I'm building ProjectA, so .git directory becomes `${project.basedir}/../.git`, but does not create any properties in desired location.

[code]

[code]

[2017-05-04 09:02] mkrivan commented on #283
I did contribution some month ago. Use the master branch. 2.2.1 still not
contains this changes. The next release will include this I think.

Prayag Upd <notifications@github.com> ezt írta (időpont: 2017. máj. 4., Csü
10:58):

[2017-05-04 09:03] ktoso commented on #283
I'll release over the weekend, sorry for no release so long - was moving
continents and was a bit chaotic.

--
Konrad 'ktoso’ Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>
<http://java.pl/>java.pl / geecon.org / krakowscala.pl / lambdakrk.pl /
sckrk.com

On 4 May 2017 at 18:02:37, Miklós Kriván (notifications@github.com) wrote:

I did contribution some month ago. Use the master

[2017-05-04 09:05] mkrivan commented on #283
Many thanks :)

ktoso <notifications@github.com> ezt írta (időpont: 2017. máj. 4., Csü
11:03):

[2017-05-04 09:07] prayagupd commented on #283
Thanks @ktoso and @mkrivan You guys are awesome. I might build the artifact from master for now until `2.2.3` is released. Much respect

[2017-05-04 09:27] prayagupd commented on #283
@ktoso @mkrivan

I installed new artifact from master as `2.2.3`.

[code]

Still does not create build.properties for a project with `.git` in a different location. Works fine with `.git` in the same root.

I'm using it with spring-boot, but there's only one `git-commit-id-plugin` being used,

[code]

[2017-05-04 21:55] prayagupd commented on #283
@ktoso and @mkrivan reproducable code at https://github.com/prayagupd/hire-artists-java-web

folder structure
--

[code]

`hireartists-core` having a mvn-git plugin pointing to .git one level outside,

[code]

[2017-05-05 10:06] mkrivan commented on #283
I feel this is a bit different situation. I am going to look after what
could be the solution in this quite specific case. I need to analyze such
kind of project layout. I will come back if I will have an answer. But I am
a bit busy now so perhaps next week.

Kriván Miklós

levélcím: miklos@krivan.hu
weblapok:
  http://blog.krivan.info
  http://miklos.krivan.info
telefon: +36 (30) 9199-207

2017-0

[2017-05-08 09:41] EHJ-52n commented on #66
@TheSnoozer

could you please specify the minimum maven version which should not have this error.

I have the following set-up:
* **maven/java/os**:
[code]
* **plugin version**:
[code]

[2017-05-08 18:43] prayagupd commented on #283
@mkrivan sure let me know when you get time. I wish I could dig more myself but timeline is tight. Appreciate your help, or you could just let me where could I look into.

[2017-05-14 01:04] tmullin commented on #279
I encountered this same issue. Heroku apparently doesn't copy the .git folder to your dyno making it impossible to use this plugin.

I did find this SO answer and was able to use it as a workaround: http://stackoverflow.com/a/34536363/1437395

See https://gist.github.com/tmullin/bd17e3a05607d2b11349ef73ebbca84d

The accepted answer for that SO question is also interesting, but I'd rather use my wo

[2017-05-15 15:00] michaldo commented on #269
I agree with @vorburger that runOnIncremental should be false. maven-git-commit-id-plugin  is similar to maven-javadoc-plugin. As application developer I don't care my javadocs are outdated. I also don't care git.properties are outdated.
As application developer I want incremental as fast as possible

[2017-05-22 09:05] vanSabben commented on #274
I have the same problem with version 2.2.2.

[2017-05-30 07:56] edysli opened #284 "Feature: alphabetically sort properties in generated file"
Currently the plugin (version 2.2.2) writes properties apparently in no specific order. This makes it fairly tedious for a human to read and find a specific property. For example, here is what I got today (keys only):

[code]

I think it would be more readable if the properties were sorted alphabetically by their keys, like this:

[code]

[2017-05-30 08:56] ktoso commented on #284
If you'd like to see this included the best way to get it done would be to help out, would you be interested in submitting a PR with this?

[2017-05-30 10:43] edysli commented on #284
I could do that. :grinning: Should it be configurable or the default behaviour?

[2017-05-30 11:40] ktoso commented on #284
Perhaps default, we have too many options already

[2017-06-01 14:49] edysli commented on #284
I'm thinking about using [java-ordered-properties](https://github.com/etiennestuder/java-ordered-properties) for this. Is it OK to introduce a new dependency?

[2017-06-09 20:00] davireis opened #285 "Does not work with git worktree"
Working directories created with https://git-scm.com/docs/git-worktree unfortunately use a `.git` file whose contents is the path of the real `.git` directory, and that breaks the check maven-git-commit-id does. The only workaround I found was to set `failOnUnableToExtractRepoInfo`. Ideally, maven-git-commit-id should use git itself to verify existence and query data in the `.git` dir.

[2017-06-10 05:32] ktoso commented on #285
Thanks for the ticket, I'm not actively maintaining this repo so it would be best if you try to submit a PR. I'm happy to review / merge then etc,

[2017-06-17 15:39] seainside75 opened #286 "Generating git.properties and renaming packaged artifact simultaneaously"
Hello,

as subject suggests, I'm trying to configure the plug-in in order to generate the git.properties file
and the final jar/war reporting some of git properties in the same "mvn package" run.
it seems that they are alternatives and uniquely driven by the following configuration option.

<generateGitPropertiesFile>false</generateGitPropertiesFile>

Is it so?
Am I missing something else?

Thanks

[2017-06-22 07:17] NicolaSpreafico opened #287 "Unable to obtaing git.branch property"
Hi,
I discovered your plugin from here: https://stackoverflow.com/a/13975553
My goal is very simple, having the git branch name inside the build version.

Here is I come so far
[code]

And then the property
`<deploy.version>test-${git.branch}</deploy.version>`

But the variable is not resolved
`[DEBUG]   (f) version = test-${git.branch}`

Am I missing a basic configuration?

I tried to launch the

[2017-06-29 16:49] renannprado commented on #244
@slowteetoe I was able to get the same behavior with `injectAllReactorProjects` set to true.

[2017-06-29 17:05] renannprado commented on #276
Same error for me. Do you guys know when 2.2.3 is going to be out?

[2017-06-30 15:34] TheSnoozer commented on #259
Can you provide a repo where this issue can be reproduced?

[2017-06-30 15:40] TheSnoozer commented on #280
``<injectAllReactorProjects>true</injectAllReactorProjects>``
should do the magic and expose the properties to the maven build cycle (make them usable within the pom)

[2017-06-30 15:41] TheSnoozer commented on #275
The ``<injectAllReactorProjects>true</injectAllReactorProjects>`` should to the trick to expose the properties to the maven build cycle.

[2017-06-30 15:46] TheSnoozer commented on #286
``
<configuration>
                    <dotGitDirectory>${project.basedir}/.git</dotGitDirectory>
                    <generateGitPropertiesFile>true</generateGitPropertiesFile>
                    <generateGitPropertiesFilename>${project.build.outputDirectory}/git.properties</generateGitPropertiesFilename>
</configuration>
``
If you for some reason want to include a version number inside the gene

[2017-06-30 15:48] TheSnoozer commented on #284
Technically this only has a visual value if someone actually looks into the file...

But why introduce another dependency? Whats wrong with Collections.sort ?

[2017-06-30 15:52] TheSnoozer commented on #270
is this still open?

[2017-06-30 15:57] TheSnoozer commented on #285
Not to be picky but this is pretty much a duplicate of
https://github.com/ktoso/maven-git-commit-id-plugin/issues/215

[2017-06-30 15:57] #285 closed

[2017-06-30 16:01] TheSnoozer commented on #215
Would be happy to have this in this plugin as well, but as outlined its a JGit issue (a library we use inside the plugin). If the library doesn't support it, this plugin doesn't support it either.

The Bug 7 Enhancement request for JGit (https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475) is still open and thus it is not available afaik.

[2017-06-30 16:03] TheSnoozer commented on #287
By default the plugin doesn't expose the properties into the maven cycle.
However if you set ``<injectAllReactorProjects>true</injectAllReactorProjects>`` you should be able to use the properties within your maven-file and for the outlined scenario.

[2017-06-30 16:31] TheSnoozer commented on #279
I just created a heroku account and followed the steps provided in
 https://devcenter.heroku.com/articles/getting-started-with-java

[code]

after this initial test I added the following to the pom.xml:
[code]
It should not matter what your config looks like

[code]

Build works without any issues as of right now; tested with linux.

[2017-06-30 16:33] TheSnoozer commented on #207
graveyard this.

[2017-06-30 16:33] #207 closed

[2017-06-30 16:34] ktoso commented on #207
Okey, and thanks for all the cleaning up :)

[2017-06-30 16:35] TheSnoozer commented on #207
not a problem....was kinda inactive due to master's thesis, moving, new job, .... = no time ;)

[2017-06-30 16:38] ktoso commented on #207
Congratulations then! :-) I moved too in the last months, now Japan based 🌊  So sorry for weird delays in replies in case you'd ping :)

[2017-07-03 14:43] emeraldjava commented on #279
Hi,
I copied the same config to my pom.xml, but am seeing the following where the 'dotGitDirectory' is null

`remote:        [INFO] --- git-commit-id-plugin:2.2.2:revision (default) @ salesninja ---
remote:        [INFO] dotGitDirectory is null, aborting execution!
remote:        [INFO]
remote:        [INFO] --- git-commit-id-plugin:2.2.2:revision (get-the-git-infos) @ salesninja ---
remote:

[2017-07-03 19:18] gaetanlebrun commented on #61
I've tried version 2.2.2 and in my in my case JGit is not able to honor `git describe --always` command.

I solved the issue by turning on the native git support feature:

    <useNativeGit>true</useNativeGit>

[2017-07-03 21:49] TheSnoozer commented on #279
Can you outline the steps need to reproduce the issue??
What is your OS?
What is ``heroku version``??

I can't reproduce it with the default "how to".

[2017-07-03 21:53] TheSnoozer commented on #61
Please do open a new issue for this and paste in a full config of your plugin.
Also it would help if you include what you expect and what you get....

[2017-07-05 11:17] emeraldjava commented on #279
Hi,
I created this simple spring boot app which uses the accuator and has a custom git REST endpoint

https://github.com/emeraldjava/git-commit-id-heroku-demo

the URL's to test the local service are

http://localhost:8080/info
http://localhost:8080/git

again, this app fails to deploy on heroku because the git.properties file isn't generated.
thanks
P

[2017-07-07 07:23] NicolaSpreafico commented on #287
Here is my current configuration
[code]
with this property
[code]

but I'm still having the variable unresolved
[code]

[2017-07-07 15:05] leonard84 opened #288 "Use ISO 8601 and or UTC/Offset as default date format"
The current default date format `dd.MM.yyyy '@' HH:mm:ss z` uses locale dependent zone ids, which are difficult to parse correctly. So please either use UTC or the offset style.

* German Locale: `MEZ` and `MESZ`
* English Localse `CET` and `CEST`

So to avoid having to use try-catch cascades to parse this date in java we should just use the offset variant, preferably the ISO 8601 since it is well

[2017-07-08 14:12] TheSnoozer commented on #287
Mhh that is somewhat strange.
I tested this with the following:
[code]
mvn clean package -Pdemo will result in a jar called `target/master-2017-07-08T14:05:54Z.jar`

can you do the following:
1) verify that the git-directory is located in ${project.basedir}/../.git
2) Set ``<verbose>true</verbose>`` inside the git-commit-id-plugin config section
3) Set ``<failOnNoGitDirectory>true</failOnNoGitDire

[2017-07-08 14:28] TheSnoozer commented on #288
Let me try to elaborate here.....kinda agree that we messed up the default date format. However the plugin allows to overwrite the timestap with the configuration option ```<dateFormat>dd.MM.yyyy '@' HH:mm:ss z</dateFormat>``` (see full example below). You can easily adjust it to your needs.

I'm not sure if someone who is already using the plugin has some parser that already parses the current ti

[2017-07-10 06:18] NicolaSpreafico commented on #287
Hello,

1) I can confirm you the directory structure
[code]

5) I do not have a parent/child project, the `project` folder exists only because the repository holds additional files which are not related to Maven itself (like internal logs, schemes, ...)

6) Here the output
![image](https://user-images.githubusercontent.com/12278553/28004749-fe179c0e-6546-11e7-9dc2-88cabb5a86e6.png)

After added th

[2017-07-10 11:19] TheSnoozer commented on #287
Based on the feedback it seems that the plugin itself can retrieve the information....

How do you invoke the GCLOUD (that currently has the error with the bad value)?
Or in other words:
- Is this a maven plugin that is getting the parameters through the pom?
- Is the a maven plugin that is getting the parameters through a file?

If it is a file i would double check if the file is getting filtered

[2017-07-10 12:13] NicolaSpreafico commented on #287
Gcloud is a Maven Plugin which is launched with goal `deploy`
This is the configuration
[code]

The `<deploy.version>${app.version}</deploy.version>` configuration is the one that received the build version, which is a property declared (as reported before) as `<app.version>${git.branch}-${maven.build.timestamp}</app.version>`

So I can say that the it gets the values from the pom itself. It seems

[2017-07-10 13:29] TheSnoozer commented on #287
can you provide an example project where i can reproduce this?

What is the output of
[code]

[2017-07-10 21:05] TheSnoozer commented on #279
After some testing and the way heroku seems to work there is pretty much barely anything I can do within the plugin to fix this issue. In order to determine the git properties this plugin is meant to have access to the git-repository. Without it its simply impossible to retrieve any information. Since the heroku doesn't copy over the .git-Folder this plugin can't get the author, branch, .... prett

[2017-07-10 22:37] TheSnoozer opened #292 "Add Travis Oracle JDK9 and JDK7"
https://travis-ci.org/ktoso/maven-git-commit-id-plugin/jobs/252198370

[code]
see:
https://github.com/travis-ci/travis-ci/issues/5520

[2017-07-10 22:41] #269 closed

[2017-07-10 22:42] TheSnoozer commented on #284
Feature has been added!
Thanks for the input!

Will be released (sometime) with version 2.2.3

[2017-07-10 22:42] #284 closed

[2017-07-10 22:45] TheSnoozer commented on #269
Was added and will be released (sometime) with version 2.2.3

[2017-07-11 06:38] NicolaSpreafico commented on #287
I'm attaching you a sample project with all the plugins configured
[testgit.zip](https://github.com/ktoso/maven-git-commit-id-plugin/files/1137891/testgit.zip)

In order to use this, I created a simple git repository (only local) and set the HEAD to master (with only 1 commit).

To invoke the gcloud goal you can use "`mvn appengine:deploy`". The Maven goal will call [GCloud SDK](https://cloud.goog

[2017-07-11 07:28] edysli commented on #284
Oh thank you very much! That was fast! :smile:

You have to extend `java.util.Properties` to mess around with its internals. Therefore, you end up depending on implementation details of a class you don't own. I think composition would be a better design in this case. Anyway, it's your project so I'll leave it to you to balance design, implementation effort and dependencies... :slightly_smiling_fac

[2017-07-11 08:39] TheSnoozer commented on #220
It seems that most of the ```repo.close()``` within the test has been fixed by
https://github.com/ktoso/maven-git-commit-id-plugin/commit/30bbc78eaf7547c35f0fbdf611000697e4c6ff82

Will test this on windows...

[2017-07-11 10:04] TheSnoozer commented on #274
https://www.kernel.org/pub/software/scm/git/docs/git-clone.html#URLS

In general, URLs contain information about the transport protocol, the address of the remote server, and the path to the repository. Depending on the transport protocol, some of this information may be absent.
Git supports ssh, git, http, and https protocols (in addition, ftp, and ftps can be used for fetching, but this is ineff

[2017-07-11 13:02] TheSnoozer commented on #274
I fixed this now.
Everything with the pattern "^([a-zA-Z0-9_.+-])+@(.*)|^\\[([^\\]])+\\]:(.*)" will now be treated as "scm-like" and thus won't be searched for password credentials....not sure if someone would store credentials in scm/ssh but in this case I would rather say its a wrong usage of ssh and thus ignore the case where one actually could have credentials inside scm-like syntax....

[2017-07-11 13:04] #274 closed

[2017-07-11 13:12] ktoso commented on #292
Yeah I still don't know how to get JDK9 easily on travis... It's also blocking some other projects that I'm working on so perhaps I'll get to find out soon enough. Thanks for the ticket!

[2017-07-11 13:16] TheSnoozer commented on #292
it seems that travis doesn't have the option to switch to java 9 yet since java 9 isn't officially released.
Just wanted to open a ticket so it can't get lost....;-)

[2017-07-11 13:17] ktoso commented on #292
The tricky thing is that the other project I work on is kind of pre-requisite for a stable JDK9 :D https://github.com/reactive-streams/reactive-streams-jvm

We'll get it solved soon enough though :)

[2017-07-11 13:53] TheSnoozer commented on #215
Note: This feature will prop break java jdk 1.7 support.

With jgit v4.6 the build was moved towards 1.8 only (https://bugs.eclipse.org/bugs/show_bug.cgi?id=500059)

[2017-07-11 15:22] TheSnoozer commented on #284
Mhh sure there are always advantages and disadvantages....I personally don't see a use case where the current implementation would break and if it does there are tests that hopefully ensure that the build breaks...however finds a bug can freely blame me ;-)

[2017-07-11 18:43] TheSnoozer commented on #292
Java 9 is stable - highly depends on your point of view of "stable" :')

[2017-07-11 19:42] TheSnoozer commented on #292
https://github.com/junit-team/junit5/blob/master/.travis.yml would be a workaround to get Java 9-EA.

[2017-07-12 02:50] ktoso commented on #292
Oh nice, thanks for finding that way :) I guess yeah, manual but it'll work :)
I'll give you kudos in the reactive-streams repo (that's what's going to become JDK9's java.util.concurrent.Flow :-))

[2017-07-13 04:08] TheSnoozer commented on #220
I just tested this with the following:
- Windows 10
- Apache Maven 3.5.0
- Java 1.8.0_131
and had no issue. The Git-Folder can be moved without any problem with ``mvn clean package -Pdemo -Dmaven.test.skip=true`` and ``mvn clean package -Pdemo``.
For the sake to verify I even added another ant-run execution that is being executed for ``<phase>package</phase>``

Only item I can see while building a

[2017-07-13 04:09] #220 closed

[2017-07-13 04:11] TheSnoozer commented on #292
Hack your life ;)
And absolutely no problem took me 5 mins to find that one ;)

[2017-07-13 05:28] TheSnoozer commented on #222
Can not reproduce with the following:
[code]
$ uname -a
CYGWIN_NT-10.0 DESKTOP-RHOE5VG 2.8.2(0.313/5/3) 2017-07-12 10:58 x86_64 Cygwin
[code]
$ mvn -version
Apache Maven 3.5.0 (ff8f5e7444045639af65f6095c62210b5713f426; 2017-04-03T12:39:06-07:00)
Maven home: C:\apache-maven-3.5.0
Java version: 1.8.0_131, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk1.8.0_131\jre
Default locale: en

[2017-07-13 05:29] #222 closed

[2017-07-13 06:34] ktoso commented on #292
Hah, when I was looking could not find anything that actually worked for a long time ;)

[2017-07-13 08:30] TheSnoozer commented on #287
Well this is somewhat really strange....Currently I can reproduce the problem but don't understand what it is caused by....

I thought it might be a Maven internal Problem where the @Parameter-Annotation is broken again and created a sample Maven-Project that uses the same stuff as the app-engine (https://github.com/GoogleCloudPlatform/app-maven-plugin/blob/master/pom.xml)

Just for future referen

[2017-07-13 18:11] TheSnoozer commented on #287
Ok just as a follow up....I cloned the app-maven-plugin from git and introduced some debugging code to verify what is going on....

The Mojo-Class that is being used for ``mvn appengine:deploy`` and taking the version argument can be found here:
https://github.com/GoogleCloudPlatform/app-maven-plugin/blob/master/src/main/java/com/google/cloud/tools/maven/DeployMojo.java

In https://github.com/Goog

[2017-07-13 18:48] TheSnoozer commented on #287
Maven Sample project to reproduce the issue:
[SampleProjectV2.zip](https://github.com/ktoso/maven-git-commit-id-plugin/files/1146284/SampleProjectV2.zip)

``mvn clean install && mvn clean package`` -> working
``mvn clean install && mvn com.test.plugins:testPlugin:deployMojo`` -> broken
``mvn clean install && mvn com.test.plugins:testPlugin:buildInjectPropertyMojo antrun:run com.test.plugins:testPl

[2017-07-13 19:55] TheSnoozer commented on #279
Can you live with the workaround or want something in the plugin?

[2017-07-14 12:56] j256 opened #295 "Might be nice to show which version of the plugin requires which maven version"
Right now I'm having problems because our production CI boxes are stuck on maven 3.0.5 because they are behind on linux releases.  It would be nice to know which versions of the maven git plugin required which versions of maven so I would know which version of the plugin that I should use.

Looks like 2.1.12 supports mvn below 3.1.1 for the record.

Thanks much for it.

[2017-07-14 14:06] TheSnoozer commented on #295
I did a really quick test about this...see
[compatibility-results.txt](https://github.com/ktoso/maven-git-commit-id-plugin/files/1148628/compatibility-results.txt)

Can you check if 2.1.13 is also working for you?
Based on what my results suggest this would be the last working version with this rather old maven version.
Please note that if you rely on Java 1.6 the last supported version would be `

[2017-07-14 16:04] j256 commented on #295
I confirmed that 2.1.13 also works.  Thanks much!

[2017-07-14 16:12] TheSnoozer commented on #295
Ok perfect I'll add this to the Readme :-)

Thanks for the input / bug ticket!

[2017-07-14 16:33] #295 closed

[2017-07-14 17:48] TheSnoozer commented on #292
Well this seems to become very interesting....
Oracle seemed to have removed the Oracle 7 binaries (http://www.webupd8.org/2017/06/why-oracle-java-7-and-6-installers-no.html) and travis currently seem to have some issues with oraclejdk7 (https://github.com/travis-ci/travis-ci/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20oraclejdk7)

https://github.com/travis-ci/travis-ci/issues/7884
https://gi

[2017-07-17 09:27] TheSnoozer commented on #81
Even though this issue is already open for quite some time I did some debugging (https://github.com/TheSnoozer/git-commit-id-debugging)

Project structure:
- Parent-pom with maven-antrun-plugin that echo's the properties ${user.dir}, ${basedir} and ${project.basedir}
- submodule-one that inherits parent without any additional settings
- submodule-two that inherits parent without any additional set

[2017-07-17 09:27] #81 closed

[2017-07-17 13:04] PPazderski commented on #258
To add a new aspect on this issue: git allows local path as remote.<name>.url and for windows this is likely a path using backward slashes which results in the same issue described in op.

So you may consider to just return the `gitRemoteString` for invalid URLs instead of failing the build.

Possible workaround is to replace the remote urls backslashes with slashes which are mostly handled correc

[2017-07-17 13:17] TheSnoozer commented on #283
I tested this with the project where id didn't seem to work (reproducable code at https://github.com/prayagupd/hire-artists-java-web)

I noticed the following inside the hireartists-core/pom.xml:

when building the project the plugin git-commit-id-plugin will not get executed.
The reason for this is that you have specified the as followed inside your pom:
[code]

Basically what is missing here is

[2017-07-17 13:17] #283 closed

[2017-07-17 13:33] TheSnoozer commented on #258
This is indeed kinda ugly.

The plugin currently has a switch:
``` <failOnUnableToExtractRepoInfo>true</failOnUnableToExtractRepoInfo>```
it is true by default.

Technically the plugin fails to extract the repository information correctly or in a way that they might disclose passwords. Thus I feel this switch should take over control of what should happen inside the build.

* set to true => if the

[2017-07-18 07:42] TheSnoozer commented on #264
Tested this with https://github.com/TheSnoozer/git-commit-id-debugging and couldn't reproduce
Please feel free to open a new ticket with further input on how to reproduce et. al.
~ Closing ~

[2017-07-18 07:42] #264 closed

[2017-07-18 07:54] TheSnoozer commented on #275
Tested this [here](https://github.com/TheSnoozer/git-commit-id-debugging) with the following config:
[code]

-> works as expected and outputs:
[code]

Also works when setting ``<generateGitPropertiesFile>false</generateGitPropertiesFile>`` (that would be what I expect....we should be able to expose properties even though  we don't specifically need a properties file).

~ Closing ~

[2017-07-18 07:54] #275 closed

[2017-07-18 08:02] TheSnoozer commented on #244
this sounds related to this issue (different plugin same outcome):
https://github.com/ktoso/maven-git-commit-id-plugin/issues/287

In a nutshell maven seems to behave different when calling a maven plugin via the Plugin's Prefix (e.g. ``mvn somePrefix:goal``) VS introduce an execution-tag and the plugin's config with a specific goal and call it with ``mvn clean package``

I would suggest to use th

[2017-07-18 08:52] TheSnoozer commented on #270
https://github.com/ktoso/maven-git-commit-id-plugin/pull/271

[2017-07-18 08:58] #270 closed

[2017-07-18 10:57] TheSnoozer commented on #166
I tested this with Version 2.2.2 and there doesn't seem to be a problem.
Setup and code can be reviewed in https://github.com/TheSnoozer/git-commit-id-debugging

Project-Structure:
[code]

I have defined the maven-git-commit-id-plugin inside the aggregator pom as following:
[code]

Based on the Readme (https://github.com/ktoso/maven-git-commit-id-plugin) the runOnlyOnce works the following way:
[c

[2017-07-18 10:57] #166 closed

[2017-07-18 11:11] TheSnoozer opened #299 "Should runOnlyOnce=true automatically mean skipPoms=false?"
This is more like a question of behaviour....

From my standpoint I would see the runOnlyOnce-Option of the plugin only being used in a reactor build.
Example:
[code]

Based on https://maven.apache.org/pom.html#Aggregation the aggregator pom has the  `<packaging>pom</packaging>`. Regardless of the `<runOnlyOnce>true</runOnlyOnce>` the plugin will not be executed without setting the additional flag

[2017-07-18 12:13] TheSnoozer commented on #280
Tested with version 2.2.2 and setting ```<injectAllReactorProjects>true</injectAllReactorProjects>```
Example:
[code]
-> works as expected and outputs:
```  [echo] Git-Infos: 0bc3ae7cad21fb297dabd6eeb374b76dfeb60f8e```

[2017-07-18 12:15] TheSnoozer commented on #273
If you want to change the behaviour use ``<skipPoms>false</skipPoms>``

from the docs:
[code]

[2017-07-19 01:47] ttamirt commented on #270
When will **2.2.3** get released?

[2017-07-19 07:31] TheSnoozer opened #300 "Release 2.2.3"
@ktoso

Saw a decent amount of requests for it ;-)

[2017-07-21 12:24] TheSnoozer commented on #292
Travis currently doesn't work with oraclejdk7.
See: https://travis-ci.org/TheSnoozer/maven-git-commit-id-plugin/jobs/256031572

Switched to openjdk7 for now

[2017-07-24 09:45] emeraldjava commented on #279
Thanks for the investigation. It's a shame heroku doesn't nice with the git repo clone. I can use the alternative options.

[2017-07-24 09:45] #279 closed

[2017-07-24 18:56] TheSnoozer commented on #279
fully agree!
unfortunately I can't change how it works.....even a shallow clone would solve the problem....

Thanks for reporting the issue!

[2017-07-24 19:22] theHilikus commented on #280
Sorry, I don't know why github didn't notify me about this.
It actually doesn't work for me. The issue is with the maven-shade-plugin, not with the antrun-plugin like in your test. The variable doesn't get resolved. You can test with the pom i included in the OP

[2017-07-24 19:22] theHilikus commented on #280
@TheSnoozer Sorry, I don't know why github didn't notify me about this.
It actually doesn't work for me. The issue is with the maven-shade-plugin, not with the antrun-plugin like in your test. The variable doesn't get resolved. You can test with the pom i included in the OP

[2017-07-24 19:35] TheSnoozer commented on #280
The following works without any issue:
[code]

[code]

Please try to add ```<exclude>META-INF/*.MF</exclude>``` to ensure that the manifest file won't be overwritten by any of the shaded plugins.

[2017-07-24 20:25] theHilikus commented on #280
ok, that works. i don't know what I tried today but it seems indeed what i was missing the first time was just the ` <injectAllReactorProjects>true</injectAllReactorProjects>`
I must have changed something else trying to figure it out
Thank you for your help!

[2017-07-24 20:33] TheSnoozer commented on #280
Whatever it was - glad it could solve the problem ;-)

[2017-07-24 20:33] #280 closed

[2017-07-26 22:25] #286 closed

[2017-07-28 23:02] TheSnoozer commented on #258
Feedback based on this specific issue
===============================

After some testing I would claim that the plugin is working as expected.
As outlined in one of the first responses the URI is not properly encoded and thus I would expect the plugin to fail. I would recommend to report a bug to TeamCity to fix their encoding.

As outlined in my previous post the plugin can provide a workaround

[2017-07-29 09:07] TheSnoozer commented on #138
From a plugin perspective...what comes close to this feature is:
https://code.google.com/archive/p/maven-replacer-plugin/

The Build Helper Mojo also has something similar:
http://www.mojohaus.org/build-helper-maven-plugin/regex-property-mojo.html#replacement
However I would separate the concerns of validation and replacement...

It might be even useful to restrict the replacement to a specific pr

[2017-07-29 18:38] TheSnoozer commented on #138
I have implemented this feature and it will be available in version 2.2.3.

Example:
[code]

Please checkout the readme for additional details!

[2017-07-29 18:39] #138 closed

[2017-07-29 18:40] #258 closed

[2017-07-29 18:41] TheSnoozer commented on #262
I'm closing this since I couldn't reproduce.
if you can provide a reproducer or encounter this issue again feel free to open another ticket ;-)

[2017-07-29 21:02] Enigo commented on #262
Yeah, sure. Anyway, after I set useNativeGit to true this issue never reproduced.

[2017-07-29 21:53] TheSnoozer commented on #262
Mhh thats interesting....
usenativeGit uses the native git binaries....so this sounds like that there is a bug inside the jgit-implementation...I'll try to investigate further (hate to close issues with "can not reproduce")

[2017-07-30 11:37] TheSnoozer commented on #288
Default format is now `yyyy-MM-dd'T'HH:mm:ssZ`
Will be released in 2.2.3

behaviour still can be changed by using
``<dateFormat>dd.MM.yyyy '@' HH:mm:ss z</dateFormat>``
inside the plugin's configuration

[2017-07-30 11:37] #288 closed

[2017-07-31 19:01] Enigo commented on #262
I wish I could help you more. Tell me if I can)

[2017-08-03 20:49] paulpach opened #305 "java.net.URISyntaxException: Illegal character in path"
Using version 2.2.2,   in windows when I build my app I get this error:

[code]
The same exact build works fine in my mac.

the relevant part of the pom is this:

[code]

It looks similar to #274 I don't know if this is a dup because the error message is slightly different.

[2017-08-03 21:38] TheSnoozer commented on #305
Thanks for reporting I'll look into this asap.

[2017-08-03 21:58] TheSnoozer commented on #305
This will indeed break the plugin execution!
I have added ```^file:///(.*)``` as exclusion pattern for the checks if it contains any passwords...
As a side note a linux path (e.g. file:///path/to/repo.git/) could been parsed without any issue....

TLDR; thanks for reporting this issue! it was not a duplicate and will be fixed with 2.2.3.

[2017-08-03 21:58] #305 closed

[2017-08-03 23:05] TheSnoozer commented on #292
As a side note:
Oraclejdk7 is still broken and I would assume it remains broken since the official download was removed :-(

In general the plugin works fine with Java 9:
https://travis-ci.org/TheSnoozer/maven-git-commit-id-plugin/builds/260818595

What needs to change can be reviewed here:
https://github.com/ktoso/maven-git-commit-id-plugin/compare/master...TheSnoozer:travis
TDLR:
we had been usi

[2017-08-03 23:11] TheSnoozer commented on #299
from a plugin perspective the plugin works as expected and thus it would result in setting both switches...unless this gets explicit requested I'd rather keep it as is....

[2017-08-03 23:11] #299 closed

[2017-08-04 17:36] TheSnoozer commented on #300
@ktoso
can you release 2.2.3? <3

[2017-08-10 05:28] theiamdude commented on #256
I am having the same issue exactly.
How about the deploy phase? would there be any specific configuration required for the maven-deploy-plugin?

[2017-08-10 07:40] TheSnoozer commented on #256
Please review my last comment in this issue here:
https://github.com/ktoso/maven-git-commit-id-plugin/issues/256#issuecomment-243005855

This specific behaviour is basically not intended / not supported by maven-install-plugin and maven-deploy-plugin (https://issues.apache.org/jira/browse/MDEPLOY-93). The naming format in the remote repo is always $artifactId-$version-$classifier *by default*.

Ho

[2017-08-10 18:14] #292 closed

[2017-08-10 18:15] TheSnoozer commented on #292
See https://github.com/ktoso/maven-git-commit-id-plugin/pull/308

[2017-08-14 10:50] theiamdude commented on #256
Thanks for you update @TheSnoozer. That provided a possible solution moving forward.

[2017-08-15 14:48] ekenny commented on #300
Any idea when 2.2.3 might be released?

[2017-08-15 16:39] TheSnoozer commented on #300
No exact date for the release of 2.2.3;

@ktoso
can you release 2.2.3?

[2017-08-19 17:31] TheSnoozer commented on #300
@ktoso
can you release 2.2.3?

[2017-08-22 09:36] nurgasemetey opened #309 "Overriding git.build.version"
Hello guys,

I want to to override `git.build.version` with custom combination like `git.tags-git.commit.id.abbrev`

Note:

I tried:

[code]
But it didn't change.

Using: **2.2.2** version

How can I achieve this?

[2017-08-22 11:05] TheSnoozer commented on #309
This feature isn't released yet and will be available in version 2.2.3.

[2017-08-22 11:05] #309 closed

[2017-08-22 12:15] olegvasylenko commented on #300
+

[2017-08-25 08:42] cbuschka opened #310 "git-commit-id-plugin removes project properties generated by other plugins"
We love the git-commit-id-plugin and use it in combination with the jacoco plugin. The jacoco plugin creates a property which must be included in surefire runs as argLine.

When property filtering is active in the git-commit-id-plugin and generating a properties file is disabled, the git-commit-id-plugin operates on the maven project properties and removes all project properties not matching the p

[2017-08-25 14:49] TheSnoozer commented on #310
see https://github.com/ktoso/maven-git-commit-id-plugin/pull/311

[2017-08-25 14:53] TheSnoozer commented on #300
I'll look into releasing a plugin on the weekend.
Unfortunately this would change the artifactGroup since I don't have access to publish artifacts to maven central...

[2017-08-25 19:04] nurgasemetey commented on #300
@TheSnoozer , is he not answering you?

[2017-08-25 21:20] TheSnoozer commented on #300
Nope; I would pull in the changes from https://github.com/ktoso/maven-git-commit-id-plugin/pull/311 and look into either contacting him again or releasing the plugin on maven central

[2017-08-26 12:23] TheSnoozer commented on #310
Thanks again for reporting and fixing this!
Was merged with #311

[2017-08-26 12:23] #310 closed

[2017-08-28 00:28] ktoso commented on #300
I was on vacation, even I can take a week of once a year... 😉
Releasing.

[2017-08-28 00:29] ktoso commented on #300
You can always reach me with direct email or via gitter chat, which is more "visible", emails from github tend to get lost as I get so many of them...

[2017-08-28 01:12] ktoso commented on #300
2.2.3 is now released - sorry for being grump in the post above, amount of stuff I noticed in mailbox after a week offline overwhelmed me a bit ;-)

I also propose to fix the root issue here, I'm ok with adding @TheSnoozer to sonatype's OSS staging repo for `pl.project13` so you could release this plugin at will. Please register on this issue tracker https://issues.sonatype.org/browse/OSSRH-1324 a

[2017-08-28 01:12] #300 closed

[2017-08-28 01:20] TheSnoozer commented on #300
@ktoso sorry for stalking you and everyone deserves a vacation!
I actually tried to email you - not sure if it got lost somewhere in the spam filter or if I used an incorrect email.....regardless vacation has priority one and I wasn't aware of it so welcome home ;-)

Thanks for releasing the plugin and I'll take care to make sure that I'll be able to release the plugin as well :-)

[2017-08-28 01:22] ktoso commented on #300
If ever need to ping me at `konrad [at] malaw.ski`, that's a low traffic email I'll definitely notice an email to, thanks a ton.

Let's get you permissions :)
Sorry again about being grumpy there, you did the absolutely right thing to nag me  - this release was long overdue :)

[2017-08-28 01:24] TheSnoozer commented on #300
Nah you are all good :-)
I'll send you a ping mail right now ;)

[2017-08-28 01:25] TheSnoozer opened #313 "Enable @TheSnoozer to release the plugin"
as outlined in https://github.com/ktoso/maven-git-commit-id-plugin/issues/300:

[2017-08-28 01:32] ktoso commented on #313
Right, let's do this 👍

[2017-08-28 22:21] TheSnoozer commented on #313
Tried to find something matching:
https://issues.sonatype.org/secure/ViewProfile.jspa?name=TheSnoozer
;-)

[2017-08-29 01:23] ktoso commented on #313
Requested the permissions: https://issues.sonatype.org/browse/OSSRH-1324 :)

—
Konrad `kto.so` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

On 29 August 2017 at 07:21:26, TheSnoozer (notifications@github.com) wrote:

Tried to find something matching:
https://issues.sonatype.org/secure/ViewProfile.jspa?name=TheSnoozer
;-)

—
You are receiving this because you were assigned.
Re

[2017-08-30 01:04] ktoso commented on #313
@TheSnoozer can now release this plugin :)

Make sure you get a gpg key that sonatype sees and then you can:

- `mvn release:prepare` (make sure to match tag name with current style)
- `mvn release:perform`
- then go to oss.sonatype.org log in there and go to the staging repositories, there will be the plugin, you have to first `close` and then `release` it if validation passed.

Let me know when